{
  "openapi": "3.0.1",
  "info": {
    "title": "Leap Incentives — Programs",
    "description": "API for managing program definitions, requirement catalog, field groups, and partner data preferences",
    "contact": {
      "email": "apiteam@leap.energy"
    },
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.leap.energy",
      "description": "Production"
    },
    {
      "url": "https://api.staging.leap.energy",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "programs"
    }
  ],
  "paths": {
    "/v1.1/global-connect/programs": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "List programs",
        "operationId": "listPrograms",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter DSL. Comma-separated field=value pairs. Supported fields: program_type, transmission_region, enabled. Example: transmission_region=CAISO,enabled=true\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved programs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1.1/global-connect/programs/{program_id}": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "Get program",
        "operationId": "getProgram",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1.1/global-connect/programs/{program_id}/requirements": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "Get program requirements",
        "operationId": "getProgramRequirements",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "name": "variant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by variant"
          },
          {
            "name": "partner_uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Apply partner data preferences"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved program requirements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramRequirementsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1.1/global-connect/programs/{program_id}/incentive-tiers": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "List incentive tiers",
        "operationId": "listIncentiveTiers",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of incentive tiers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IncentiveTierResponse"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ProgramId": {
        "name": "program_id",
        "in": "path",
        "required": true,
        "description": "Identifier of the program",
        "schema": {
          "type": "string"
        }
      },
      "PageToken": {
        "name": "page_token",
        "in": "query",
        "required": false,
        "description": "Token for cursor-based pagination",
        "schema": {
          "type": "string"
        }
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "required": false,
        "description": "Number of items per page (default 50)",
        "schema": {
          "type": "integer",
          "default": 50
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed or invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "You are not authorized to perform this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "You do not have permission to perform this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "An internal server error occurred",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "RequirementOwner": {
        "type": "string",
        "enum": [
          "UTILITY",
          "END_USER",
          "PARTNER",
          "LEAP"
        ]
      },
      "RequirementSource": {
        "type": "string",
        "enum": [
          "LEAP_DEFINITIONS",
          "INCENTIVES_DB",
          "PARTNER_OFFER"
        ]
      },
      "CalculationMethod": {
        "type": "string",
        "enum": [
          "FLAT_RATE",
          "PERCENTAGE",
          "FORMULA",
          "PER_UNIT"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ProgramResponse": {
        "type": "object",
        "properties": {
          "program_identifier": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "program_type": {
            "type": "string"
          },
          "transmission_region": {
            "$ref": "#/components/schemas/TransmissionRegion"
          },
          "enabled": {
            "type": "boolean"
          },
          "source": {
            "$ref": "#/components/schemas/RequirementSource"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "eiaid": {
            "type": "string"
          },
          "eiaids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The program's full set of eligible EIA utility ids (candidate-selection set). Supersedes the single `eiaid` for matching; a customer whose resolved utility eiaid overlaps this set is a candidate."
          },
          "program_year": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "application_deadline_days": {
            "type": "integer"
          },
          "max_rebates_per_customer": {
            "type": "integer"
          },
          "max_rebates_per_address": {
            "type": "integer"
          },
          "min_building_age_years": {
            "type": "integer"
          },
          "customer_classification": {
            "$ref": "#/components/schemas/CustomerClassification"
          },
          "requires_homeowner": {
            "type": "boolean"
          },
          "requires_income_qualification": {
            "type": "boolean"
          },
          "requires_contractor_participation": {
            "type": "boolean"
          },
          "requires_permits": {
            "type": "boolean"
          },
          "requires_inspection": {
            "type": "boolean"
          },
          "new_construction_eligible": {
            "type": "boolean"
          },
          "prohibits_fossil_backup": {
            "type": "boolean"
          },
          "device_category": {
            "type": "string"
          }
        }
      },
      "ProgramListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProgramResponse"
            }
          },
          "next_page_token": {
            "type": "string"
          }
        }
      },
      "ProgramRequirementsResponse": {
        "type": "object",
        "properties": {
          "program_identifier": {
            "type": "string"
          },
          "field_groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldGroupResponse"
            }
          }
        }
      },
      "FieldGroupResponse": {
        "type": "object",
        "properties": {
          "component_id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProgramFieldResponse"
            }
          }
        }
      },
      "ProgramFieldResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Flat field type: STRING, NUMBER, BOOLEAN, DATE, ENUM, PHONE, AGREEMENT, ATTACHMENT, CHECKLIST_CHECK\n",
            "enum": [
              "STRING",
              "NUMBER",
              "BOOLEAN",
              "DATE",
              "ENUM",
              "PHONE",
              "AGREEMENT",
              "ATTACHMENT",
              "CHECKLIST_CHECK"
            ]
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "placeholder": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "owner": {
            "$ref": "#/components/schemas/RequirementOwner"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available options (ENUM fields only)"
          },
          "validation_rules": {
            "type": "object",
            "additionalProperties": true
          },
          "agreement_template_id": {
            "type": "string",
            "description": "Present for AGREEMENT type only"
          },
          "agreement_url": {
            "type": "string",
            "description": "Present for AGREEMENT type only"
          },
          "attachment_template_id": {
            "type": "string",
            "description": "Present for ATTACHMENT type only"
          },
          "attachment_sample_label": {
            "type": "string",
            "description": "Present for ATTACHMENT type only"
          },
          "check_identifier": {
            "type": "string",
            "description": "Present for CHECKLIST_CHECK type only"
          }
        }
      },
      "IncentiveTierResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "source_id": {
            "type": "integer"
          },
          "program_identifier": {
            "type": "string"
          },
          "tier_name": {
            "type": "string"
          },
          "tier_order": {
            "type": "integer"
          },
          "calculation_method": {
            "$ref": "#/components/schemas/CalculationMethod"
          },
          "flat_rate_amount": {
            "type": "number"
          },
          "per_unit_rate": {
            "type": "number"
          },
          "percentage_rate": {
            "type": "number"
          },
          "max_incentive_amount": {
            "type": "number"
          },
          "min_incentive_amount": {
            "type": "number"
          },
          "income_qualified_multiplier": {
            "type": "number"
          },
          "geographic_bonus_multiplier": {
            "type": "number"
          },
          "min_seer2": {
            "type": "number"
          },
          "max_seer2": {
            "type": "number"
          },
          "min_eer2": {
            "type": "number"
          },
          "max_eer2": {
            "type": "number"
          },
          "min_hspf2": {
            "type": "number"
          },
          "max_hspf2": {
            "type": "number"
          },
          "min_ceer": {
            "type": "number"
          },
          "max_ceer": {
            "type": "number"
          },
          "min_capacity_tons": {
            "type": "number"
          },
          "max_capacity_tons": {
            "type": "number"
          },
          "min_capacity_btu": {
            "type": "integer"
          },
          "max_capacity_btu": {
            "type": "integer"
          },
          "min_capacity_kw": {
            "type": "number"
          },
          "max_capacity_kw": {
            "type": "number"
          },
          "requires_early_replacement": {
            "type": "boolean"
          },
          "requires_bundled_measures": {
            "type": "boolean"
          }
        }
      },
      "TransmissionRegion": {
        "type": "string",
        "enum": [
          "CAISO",
          "ERCOT",
          "NYISO",
          "ISONE",
          "PJM",
          "SERC",
          "WECC_SW",
          "WECC_PC"
        ]
      },
      "CustomerClassification": {
        "description": "Customer/site classification used for incentive eligibility and flow routing.\nAligns with the leap-definitions canonical identifier `customer_classification`.\nRESIDENTIAL/COMMERCIAL are the historic values; MULTIFAMILY and MANUFACTURED_HOME\nare extensions for incentives eligibility (rebate qualification differs across\nsingle-family vs multifamily vs manufactured housing).\n",
        "type": "string",
        "enum": [
          "RESIDENTIAL",
          "MULTIFAMILY",
          "MANUFACTURED_HOME",
          "COMMERCIAL"
        ]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Leap API key as a Bearer token. Send it in the `Authorization` header: `Authorization: Bearer <api-key>`."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
