{
  "openapi": "3.0.1",
  "info": {
    "title": "Leap Incentives — Programs",
    "description": "API for managing program definitions, requirement catalog, field groups, and partner data preferences",
    "contact": {
      "email": "apiteam@leap.energy"
    },
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.leap.energy",
      "description": "Production"
    },
    {
      "url": "https://api.staging.leap.energy",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "programs"
    }
  ],
  "paths": {
    "/beta/incentives/programs": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "List programs",
        "operationId": "listPrograms",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter DSL. Comma-separated field=value pairs. Supported fields: program_type, transmission_region, enabled. Example: transmission_region=CAISO,enabled=true\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved programs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "description": "Browse Leap's catalog of rebate programs. Filtering runs through the `filter` query parameter rather than a separate search route: pass comma-separated `field=value` pairs. Three fields are supported, `program_type`, `transmission_region` and `enabled`, and Leap combines them with AND. For example, `filter=transmission_region=CAISO,enabled=true` returns the enabled CAISO programs. Leap ignores a field name it does not recognise instead of rejecting it, so check your spelling. The `enabled` value must be `true` or `false`; anything else returns 400.\n\nThe catalog is shared across partners and is not scoped to your account. `data` carries the full matching set: `page_token` and `page_size` are reserved and have no effect yet, and `next_page_token` is never populated."
      }
    },
    "/beta/incentives/programs/{program_id}": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "Get a program",
        "operationId": "getProgram",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "description": "Retrieve one program by its `program_identifier`. That is the same value **Look up incentives** returns as `program_identifier` on each eligible program, so you can go from a lookup result straight to the program's full definition.\n\nThe response covers the program's window and deadlines, plus its per-customer and per-address rebate caps. It also carries the customer class the program serves and the qualification flags that gate eligibility: homeowner status, income qualification, contractor participation, permits and inspection. An identifier Leap does not hold returns 404."
      }
    },
    "/beta/incentives/programs/{program_id}/requirements": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "Get program requirements",
        "operationId": "getProgramRequirements",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          },
          {
            "name": "variant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by variant"
          },
          {
            "name": "partner_uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Apply partner data preferences"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved program requirements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramRequirementsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "description": "List everything a customer must supply to claim this program, resolved and grouped for display. Each group carries its own fields, and each field arrives complete: key, data type, label, help text, whether it is required, who owns it, and the option list on enumerated fields. Agreement and attachment fields carry their template identifiers. The detail is embedded here, so interpreting the response takes no second call to a requirements catalog.\n\nUse `variant_id` to narrow the response to one program variant. `partner_uuid` applies a partner account's stored data preferences. Leave both off to get the program's default requirement set. A program identifier Leap does not hold returns 404."
      }
    },
    "/beta/incentives/programs/{program_id}/incentive-tiers": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "List incentive tiers",
        "operationId": "listIncentiveTiers",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of incentive tiers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IncentiveTierResponse"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "description": "List the payout tiers on a program. A tier states how Leap works out its amount through `calculation_method`, along with the floor and ceiling on the payout. It also carries the equipment thresholds a device must clear to match the tier: efficiency ratings (SEER2, EER2, HSPF2, CEER), capacity in tons, BTU or kW, and any early-replacement or bundled-measure condition. `tier_order` gives the tier's position within the program.\n\nRead these to understand what a program pays before you run a lookup. The response is a plain array rather than a paginated envelope. A program identifier Leap does not hold returns 404."
      }
    },
    "/beta/incentives/programs/{programIdentifier}/approved-devices": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "List approved devices",
        "description": "List the Approved Product List (APL) entries for a program: the catalog devices this program pays a rebate on. Each entry names the catalog `device_id`, the tier it is bound to when the program restricts it to one, and the APL publication and version it came from.\n\nEntries identify devices by catalog UUID and nothing else. Leap does not publish a get-a-device-by-id route, and **Search device catalog** matches free text rather than identifiers, so you cannot resolve an unfamiliar `device_id` to a manufacturer and model through this API today.\n\nThe path segment on this route is `programIdentifier`, while every other program route uses `program_id`. Both take the same value. A program identifier Leap does not hold returns 404.",
        "operationId": "listApprovedDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramIdentifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Approved devices for the program",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramApprovedDeviceResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ProgramId": {
        "name": "program_id",
        "in": "path",
        "required": true,
        "description": "Identifier of the program",
        "schema": {
          "type": "string"
        }
      },
      "ProgramIdentifier": {
        "name": "programIdentifier",
        "in": "path",
        "required": true,
        "description": "Unique program identifier",
        "schema": {
          "type": "string"
        }
      },
      "PageToken": {
        "name": "page_token",
        "in": "query",
        "required": false,
        "description": "Token for cursor-based pagination",
        "schema": {
          "type": "string"
        }
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "required": false,
        "description": "Number of items per page (default 50)",
        "schema": {
          "type": "integer",
          "default": 50
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed or invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "You are not authorized to perform this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "You do not have permission to perform this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "An internal server error occurred",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "RequirementOwner": {
        "type": "string",
        "enum": [
          "UTILITY",
          "END_USER",
          "PARTNER",
          "LEAP"
        ],
        "description": "Who supplies the value: the customer (`END_USER`), you (`PARTNER`), Leap (`LEAP`), or the utility running the program (`UTILITY`)."
      },
      "RequirementSource": {
        "type": "string",
        "enum": [
          "LEAP_DEFINITIONS",
          "INCENTIVES_DB",
          "PARTNER_OFFER"
        ],
        "description": "Where the definition came from. `LEAP_DEFINITIONS` and `INCENTIVES_DB` are rebate programs Leap maintains. `PARTNER_OFFER` marks a partner offer, which a partner account configures rather than Leap."
      },
      "CalculationMethod": {
        "type": "string",
        "enum": [
          "FLAT_RATE",
          "PERCENTAGE",
          "FORMULA",
          "PER_UNIT"
        ],
        "description": "How Leap works out the tier's payout: a fixed amount (`FLAT_RATE`), a rate per unit (`PER_UNIT`), a percentage rate (`PERCENTAGE`), or a program-specific formula (`FORMULA`). The matching rate field on the tier carries the value."
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ProgramResponse": {
        "type": "object",
        "properties": {
          "program_identifier": {
            "type": "string",
            "description": "Stable identifier for the program, and the value **Look up incentives** returns as `program_identifier` on each eligible program. Send it as the `program_id` path segment on the other program routes."
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "program_type": {
            "type": "string"
          },
          "transmission_region": {
            "$ref": "#/components/schemas/TransmissionRegion"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether Leap currently runs this program. A disabled program is excluded from eligibility, so it never appears in a lookup result."
          },
          "source": {
            "$ref": "#/components/schemas/RequirementSource"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Free-form attributes Leap has not promoted to a named field. The keys vary by program and by `source`, and none of them are part of the published contract. Read them for context, but do not build on a key you find here."
          },
          "eiaid": {
            "type": "string",
            "description": "A single EIA utility id, kept for programs defined before `eiaids` existed. Read `eiaids` for the program's full utility footprint."
          },
          "eiaids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Every EIA utility id this program serves. A customer qualifies on the utility dimension when the utility resolved from their address appears in this list. An empty list means the program has no utility footprint and is never selected on that dimension."
          },
          "program_year": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "application_deadline_days": {
            "type": "integer"
          },
          "max_rebates_per_customer": {
            "type": "integer"
          },
          "max_rebates_per_address": {
            "type": "integer"
          },
          "min_building_age_years": {
            "type": "integer"
          },
          "customer_classification": {
            "$ref": "#/components/schemas/CustomerClassification"
          },
          "requires_homeowner": {
            "type": "boolean"
          },
          "requires_income_qualification": {
            "type": "boolean"
          },
          "requires_contractor_participation": {
            "type": "boolean"
          },
          "requires_permits": {
            "type": "boolean"
          },
          "requires_inspection": {
            "type": "boolean"
          },
          "new_construction_eligible": {
            "type": "boolean"
          },
          "prohibits_fossil_backup": {
            "type": "boolean"
          },
          "device_category": {
            "type": "string"
          }
        },
        "description": "One program in Leap's rebate catalog. The catalog is shared across partners and covers utility, state and market programs, so a program you read here is not necessarily one your account can claim."
      },
      "ProgramListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProgramResponse"
            }
          },
          "next_page_token": {
            "type": "string",
            "description": "Reserved for cursor pagination and not populated yet. Read the full matching set from `data`."
          }
        },
        "description": "A page of catalog programs. `data` carries the full matching set today, because this endpoint does not paginate yet."
      },
      "ProgramRequirementsResponse": {
        "type": "object",
        "properties": {
          "program_identifier": {
            "type": "string"
          },
          "field_groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldGroupResponse"
            }
          }
        },
        "description": "Everything the customer must supply to claim this program, grouped for display. Field detail is embedded in each group, so interpreting the response takes no second call to a requirements catalog."
      },
      "FieldGroupResponse": {
        "type": "object",
        "properties": {
          "component_id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProgramFieldResponse"
            }
          }
        },
        "description": "One display group of related fields, such as customer contact details or equipment information. `sort_order` gives the group's position in the form."
      },
      "ProgramFieldResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Flat field type: STRING, NUMBER, BOOLEAN, DATE, ENUM, PHONE, AGREEMENT, ATTACHMENT, CHECKLIST_CHECK\n",
            "enum": [
              "STRING",
              "NUMBER",
              "BOOLEAN",
              "DATE",
              "ENUM",
              "PHONE",
              "AGREEMENT",
              "ATTACHMENT",
              "CHECKLIST_CHECK"
            ]
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "placeholder": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "owner": {
            "$ref": "#/components/schemas/RequirementOwner"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available options (ENUM fields only)"
          },
          "validation_rules": {
            "type": "object",
            "additionalProperties": true,
            "description": "Constraints the value must satisfy, such as a length limit or a numeric range. The keys depend on the field's `type`."
          },
          "agreement_template_id": {
            "type": "string",
            "description": "Present for AGREEMENT type only"
          },
          "agreement_url": {
            "type": "string",
            "description": "Present for AGREEMENT type only"
          },
          "attachment_template_id": {
            "type": "string",
            "description": "Present for ATTACHMENT type only"
          },
          "attachment_sample_label": {
            "type": "string",
            "description": "Present for ATTACHMENT type only"
          },
          "check_identifier": {
            "type": "string",
            "description": "Present for CHECKLIST_CHECK type only"
          }
        },
        "description": "One thing the customer must supply. `type` decides which of the optional fields are populated: `options` on `ENUM`, the agreement fields on `AGREEMENT`, the attachment fields on `ATTACHMENT`, and `check_identifier` on `CHECKLIST_CHECK`."
      },
      "IncentiveTierResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "source_id": {
            "type": "integer",
            "description": "Leap's identifier for this tier in the data feed it was ingested from. Address a tier by `id` instead; `source_id` is not part of the published contract."
          },
          "program_identifier": {
            "type": "string"
          },
          "tier_name": {
            "type": "string"
          },
          "tier_order": {
            "type": "integer"
          },
          "calculation_method": {
            "$ref": "#/components/schemas/CalculationMethod"
          },
          "flat_rate_amount": {
            "type": "number"
          },
          "per_unit_rate": {
            "type": "number"
          },
          "percentage_rate": {
            "type": "number"
          },
          "max_incentive_amount": {
            "type": "number"
          },
          "min_incentive_amount": {
            "type": "number"
          },
          "income_qualified_multiplier": {
            "type": "number"
          },
          "geographic_bonus_multiplier": {
            "type": "number"
          },
          "min_seer2": {
            "type": "number"
          },
          "max_seer2": {
            "type": "number"
          },
          "min_eer2": {
            "type": "number"
          },
          "max_eer2": {
            "type": "number"
          },
          "min_hspf2": {
            "type": "number"
          },
          "max_hspf2": {
            "type": "number"
          },
          "min_ceer": {
            "type": "number"
          },
          "max_ceer": {
            "type": "number"
          },
          "min_capacity_tons": {
            "type": "number"
          },
          "max_capacity_tons": {
            "type": "number"
          },
          "min_capacity_btu": {
            "type": "integer"
          },
          "max_capacity_btu": {
            "type": "integer"
          },
          "min_capacity_kw": {
            "type": "number"
          },
          "max_capacity_kw": {
            "type": "number"
          },
          "requires_early_replacement": {
            "type": "boolean"
          },
          "requires_bundled_measures": {
            "type": "boolean"
          }
        },
        "description": "One payout tier on a program, with the equipment thresholds a device must clear to match it."
      },
      "ProgramApprovedDeviceResponse": {
        "type": "object",
        "properties": {
          "program_identifier": {
            "type": "string"
          },
          "device_id": {
            "type": "string",
            "format": "uuid",
            "description": "Catalog device UUID. It is the same identifier **Search device catalog** returns as `id`, and the same one you send as `device_id` on a lookup."
          },
          "tier_id": {
            "type": "string",
            "format": "uuid",
            "description": "The incentive tier this device is bound to, matching an `id` from **List incentive tiers**. Absent when the entry is not tier-specific."
          },
          "apl_source": {
            "type": "string",
            "description": "The Approved Product List publication this entry came from."
          },
          "apl_version": {
            "type": "string",
            "description": "The version of that Approved Product List publication."
          },
          "notes": {
            "type": "string",
            "description": "Free text Leap's data team recorded against this entry. Not part of the published contract."
          }
        },
        "description": "One Approved Product List entry: a catalog device this program pays a rebate on."
      },
      "TransmissionRegion": {
        "type": "string",
        "enum": [
          "CAISO",
          "ERCOT",
          "NYISO",
          "ISONE",
          "PJM",
          "SERC",
          "WECC_SW",
          "WECC_PC"
        ],
        "description": "The grid region the program operates in, named by its ISO, RTO or NERC region."
      },
      "CustomerClassification": {
        "description": "The customer or site class this program serves. `RESIDENTIAL` and `COMMERCIAL` are the long-standing values; `MULTIFAMILY` and `MANUFACTURED_HOME` exist because rebate qualification differs across single-family, multifamily and manufactured housing.",
        "type": "string",
        "enum": [
          "RESIDENTIAL",
          "MULTIFAMILY",
          "MANUFACTURED_HOME",
          "COMMERCIAL"
        ]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Leap API key as a Bearer token. Send it in the `Authorization` header: `Authorization: Bearer <api-key>`."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
