{
  "openapi": "3.0.1",
  "info": {
    "title": "Leap Incentives — Devices",
    "description": "API for managing program definitions, requirement catalog, field groups, and partner data preferences",
    "contact": {
      "email": "apiteam@leap.energy"
    },
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.leap.energy",
      "description": "Production"
    },
    {
      "url": "https://api.staging.leap.energy",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "devices"
    }
  ],
  "paths": {
    "/beta/incentives/devices/search": {
      "get": {
        "tags": [
          "devices"
        ],
        "summary": "Search device catalog",
        "description": "Find the catalog `device_id` for a product. Use this to map your product catalog to Leap's programmatically instead of by hand, and to keep the mapping current as the catalog grows.\n\nSearch with `q` over manufacturer, model name, and model number: every whitespace-separated term must match, and results are ranked by closeness. Leave `q` off to browse instead. `category` and `subcategory` narrow either mode, and `ids` turns catalog device UUIDs you already hold back into full catalog records, up to 100 per call.\n\nPage with `page_size` and `page_token`, following `next_page_token` until it is absent. The older `limit` and `offset` pair still works, but the two paging styles cannot be mixed in one request. A query parameter this endpoint does not recognise is rejected with 400 rather than ignored, so a misspelled filter fails loudly instead of quietly returning the unfiltered catalog.",
        "operationId": "searchDevices",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text query over manufacturer, model name and model number. Omit it to browse rather than search.\n",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Device category, addressed by its stable `name` (case-insensitive): hvac, ev_charger, solar_storage, water_heater, smart_thermostat, weatherization, vehicle, meter, panel_make_ready, solar_panel. Address a category by name: the category's own id is specific to one Leap environment and is not accepted here. An unknown name is a 400 naming the categories that exist.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subcategory",
            "in": "query",
            "required": false,
            "description": "Exact (case-insensitive) match on the device's `subcategory`. The stored vocabulary is uncontrolled today, so treat this as a filter on values you have already seen in `subcategory` on a response, not as an enum.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Resolves specific catalog devices by id: a comma-separated list of catalog device UUIDs, at most 100 per request. Combines with the other filters by AND, so `ids` plus `category` returns only the named devices that also sit in that category.\n\nIntended for resolving already-attached customer devices, where the caller holds device UUIDs and needs the full catalog record for each one. An id that matches no device currently in the catalog is simply absent from the results rather than an error, so match the responses back to the ids you asked for. A malformed UUID, an empty value, or more than 100 ids is a 400.\n",
            "schema": {
              "type": "array",
              "maxItems": 100,
              "items": {
                "type": "string",
                "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Rows per page, 1 to 500. Defaults to `limit` when only `limit` is given, else to 20. Cannot be combined with `limit`.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from a previous response's `next_page_token`. Only valid when replayed with the same `q`, `category` and `subcategory`; replaying it against different filters is a 400. Cannot be combined with `offset`.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Legacy alias for `page_size`, kept so existing callers keep working. The ceiling was raised from 50 to 500.\n",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Legacy row offset, kept so existing callers keep working. Prefer `page_token`.\n",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked page of matching devices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/incentives/devices/saved": {
      "get": {
        "tags": [
          "devices"
        ],
        "summary": "List saved devices",
        "description": "List the devices you've saved, most recently saved first. Each entry carries the full catalog record plus your own optional label. Saving the products you sell keeps them on hand without a catalog search every time. Results are scoped to your account; page through them with `limit` and `offset`.",
        "operationId": "listSavedDevices",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of the partner's saved devices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedDevicePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/incentives/devices/saved/{device_id}": {
      "put": {
        "tags": [
          "devices"
        ],
        "summary": "Save a device",
        "description": "Add a catalog device to your saved list, or relabel one you already saved. The `label` is your own name for the device and is optional: omit the key to keep the current label, send null or a blank string to clear it, send text to set it. Repeating the call is safe, because the same `device_id` updates the existing entry instead of adding a second one. Catalog devices that Leap has retired return 404.",
        "operationId": "upsertSavedDevice",
        "parameters": [
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "description": "Catalog device UUID (as returned by the device search).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavedDeviceUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The saved device after the upsert.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedDeviceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "devices"
        ],
        "summary": "Remove a saved device",
        "description": "Remove a device from your saved list. The catalog device is untouched, and so is any lookup that referenced it. Removing a device you have not saved also returns 204, so retries are safe.",
        "operationId": "deleteSavedDevice",
        "parameters": [
          {
            "name": "device_id",
            "in": "path",
            "required": true,
            "description": "Catalog device UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The device is no longer in the saved list."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "description": "Malformed or invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "You are not authorized to perform this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "You do not have permission to perform this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "The shared per-partner rate limit for /incentives endpoints was exceeded (`error_code: RATE_LIMIT_EXCEEDED`). Back off and retry after the number of seconds indicated by the `Retry-After` header.\n",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "An internal server error occurred",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DeviceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "device_category_id": {
            "type": "string",
            "format": "uuid",
            "description": "Leap's identifier for the device's category. It is specific to one Leap environment, so key on `device_category` instead when you store or compare categories."
          },
          "device_category": {
            "type": "string",
            "description": "The device's category name, and the stable way to address a category: `hvac`, `ev_charger`, `solar_storage`, `water_heater`, `smart_thermostat`, `weatherization`, `vehicle`, `meter`, `panel_make_ready`, `solar_panel`. It is the same value the `category` query parameter takes, so you can bucket a page of results without a second call."
          },
          "manufacturer": {
            "type": "string"
          },
          "model_number": {
            "type": "string"
          },
          "model_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "subcategory": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "date_available": {
            "type": "string",
            "format": "date"
          },
          "date_discontinued": {
            "type": "string",
            "format": "date"
          },
          "manufacture_year": {
            "type": "integer"
          },
          "charger_level": {
            "type": "string"
          },
          "charging_power_kw": {
            "type": "number"
          },
          "connector_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "seer2_rating": {
            "type": "number"
          },
          "eer2_rating": {
            "type": "number"
          },
          "hspf2_rating": {
            "type": "number"
          },
          "ceer_rating": {
            "type": "number"
          },
          "capacity_tons": {
            "type": "number"
          },
          "capacity_btu": {
            "type": "integer"
          },
          "capacity_kw": {
            "type": "number"
          },
          "msrp": {
            "type": "number"
          },
          "is_energy_star_certified": {
            "type": "boolean"
          },
          "is_ul_listed": {
            "type": "boolean"
          },
          "is_networked": {
            "type": "boolean"
          },
          "is_ocpp_compliant": {
            "type": "boolean"
          },
          "battery_capacity_kwh": {
            "type": "number"
          },
          "battery_chemistry": {
            "type": "string"
          },
          "is_mobile_plugin_charger": {
            "type": "boolean"
          }
        },
        "description": "One device in Leap's catalog. Send its `id` as the `device_id` on a lookup. Specification fields such as `capacity_kw` or `seer2_rating` are populated where Leap holds data for that device type, and are null otherwise."
      },
      "DeviceSearchResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeviceResponse"
            }
          },
          "next_offset": {
            "type": "integer",
            "nullable": true,
            "description": "Offset for the next page, or null when this is the last page. Kept for callers still paging with limit + offset.\n"
          },
          "next_page_token": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the next page, or null when this is the last page. Pass it back as `page_token`. Present alongside `next_offset` whichever paging style the request used, so a caller can switch.\n"
          }
        }
      },
      "SavedDeviceUpsertRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "nullable": true,
            "maxLength": 256,
            "description": "Your own name for the device, to help you find it later. Omit the key to keep the current label, send null or a blank string to clear it, send text to set it. Maximum 256 characters."
          }
        }
      },
      "SavedDeviceResponse": {
        "type": "object",
        "required": [
          "device_id",
          "created_at",
          "device"
        ],
        "properties": {
          "device_id": {
            "type": "string",
            "format": "uuid",
            "description": "Catalog device UUID. This is the `device_id` you send on a lookup."
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Your own name for the device, when you set one. Null otherwise."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When you first saved this device."
          },
          "device": {
            "$ref": "#/components/schemas/DeviceResponse"
          }
        }
      },
      "SavedDevicePage": {
        "type": "object",
        "required": [
          "devices",
          "total"
        ],
        "properties": {
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SavedDeviceResponse"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total devices on your saved list, ignoring paging."
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Leap API key as a Bearer token. Send it in the `Authorization` header: `Authorization: Bearer <api-key>`."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
