{
  "openapi": "3.0.1",
  "info": {
    "title": "Leap Incentives — Programs",
    "description": "API for managing program definitions, requirement catalog, field groups, and partner data preferences",
    "contact": {
      "email": "apiteam@leap.energy"
    },
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.leap.energy",
      "description": "Production"
    },
    {
      "url": "https://api.staging.leap.energy",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "programs"
    }
  ],
  "paths": {
    "/beta/incentives/programs": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "List programs",
        "description": "Browse Leap's catalog of rebate programs. The catalog is shared across partners, so a program you read here is not necessarily one your account can claim. Narrow it with `filter`, and page through it with `page_size` and `page_token`.",
        "operationId": "listPrograms",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Comma-separated `field=value` pairs, combined with AND. Three fields are supported: `program_type`, `transmission_region` and `enabled`. For example, `filter=transmission_region=CAISO,enabled=true` returns the enabled CAISO programs.\n\nLeap ignores a field name it does not recognise rather than rejecting it, so check your spelling. `enabled` must be `true` or `false`; anything else returns 400. With no `enabled` filter the response mixes enabled and disabled programs, and each row carries its own `enabled` flag.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved programs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/incentives/programs/{program_id}": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "Get a program",
        "operationId": "getProgram",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "description": "Retrieve one program by its `program_identifier`, the same value **Look up incentives** returns on each eligible program. An identifier Leap does not hold returns 404."
      }
    },
    "/beta/incentives/programs/{programIdentifier}/approved-devices": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "List approved devices",
        "description": "List the Approved Product List (APL) entries for a program: the catalog devices it pays a rebate on. Each entry names the catalog `device_id`, the tier it is bound to when it is tier-specific, and the APL publication it came from. Resolve a `device_id` with **Search device catalog**.",
        "operationId": "listApprovedDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramIdentifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Approved devices for the program",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramApprovedDeviceResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ProgramId": {
        "name": "program_id",
        "in": "path",
        "required": true,
        "description": "Identifier of the program",
        "schema": {
          "type": "string"
        }
      },
      "ProgramIdentifier": {
        "name": "programIdentifier",
        "in": "path",
        "required": true,
        "description": "The program's `program_identifier`. This route spells the path segment `programIdentifier` while every other program route uses `program_id`; both take the same value.",
        "schema": {
          "type": "string"
        }
      },
      "PageToken": {
        "name": "page_token",
        "in": "query",
        "required": false,
        "description": "Cursor from a previous response's `next_page_token`. Follow it until it is absent to walk the whole catalog. Replay a token only with the `filter` that produced it. Programs are ordered by `program_identifier`, so a program added below your cursor part-way through a walk is missed rather than duplicated. This route pages with `page_size` and `page_token` only: `limit` and `offset` return 400.",
        "schema": {
          "type": "string"
        }
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "required": false,
        "description": "Rows per page. Defaults to 50 and is capped at 200; a larger value is clamped rather than rejected.",
        "schema": {
          "type": "integer",
          "default": 50
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed or invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "You are not authorized to perform this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "You do not have permission to perform this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "An internal server error occurred",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "RequirementSource": {
        "type": "string",
        "enum": [
          "LEAP_DEFINITIONS",
          "INCENTIVES_DB",
          "PARTNER_OFFER"
        ],
        "description": "Where the definition came from. `LEAP_DEFINITIONS` and `INCENTIVES_DB` are rebate programs Leap maintains. `PARTNER_OFFER` marks a partner offer, which a partner account configures rather than Leap."
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ProgramResponse": {
        "type": "object",
        "properties": {
          "program_identifier": {
            "type": "string",
            "description": "Stable identifier for the program, and the value **Look up incentives** returns as `program_identifier` on each eligible program. Send it as the `program_id` path segment on the other program routes."
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "program_type": {
            "type": "string"
          },
          "transmission_region": {
            "$ref": "#/components/schemas/TransmissionRegion"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether Leap currently evaluates this program. A disabled program never appears in a lookup result. Filter on it with `filter=enabled=true` or `filter=enabled=false`."
          },
          "source": {
            "$ref": "#/components/schemas/RequirementSource"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "The partner-visible subset of the program's stored metadata. Responses carry an allowlist of keys rather than everything Leap stores against a program. Catalog description: `url`, `operator_name`, `operator_type`, `device_category`, `application_path`, `state_province`, `country`. Partner offer publication, present on `PARTNER_OFFER` rows: `display_name`, `operator_display_name`, `logo_url`, `terms_url`, `description`. Any other key is omitted, including keys added after this was written, and including a partner offer's private configuration. Present but empty when the program carries none of the twelve.\n\nValues are constrained as well as names. An allowlisted key survives only when its value is a string, a number or a boolean; a key whose value is an object or an array is omitted, because a nested value can carry fields nobody reviewed. Strings longer than 2048 characters are omitted rather than truncated, so a value you receive is always the whole value. No stored value under the seven catalog keys comes close to that bound."
          },
          "upstream_program_id": {
            "type": "string",
            "nullable": true,
            "description": "The program's identifier in the upstream incentives system that owns application records. Stable, and the intended join key between this catalog and any API that reports a program in that id space, such as the applications feed. Always a positive integer, rendered as a string so the id stays exact for clients whose numbers are IEEE doubles.\n\nNot to be confused with `source_program_identifier` on the eligibility-details response, which is a program identifier in *this* service's id space, attributing a check to the program that imposed it. The two never hold interchangeable values.\n\nOmitted entirely when the program has no upstream counterpart, so treat an absent field and a null one the same way. That is normal rather than a gap: programs sourced from Leap's own definitions were never defined in the upstream system, so a missing id here says \"this program cannot be joined\", never \"no applications exist\". Programs promoted from that system, including partner offers, always carry one."
          },
          "eiaids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Every EIA utility id this program serves. A customer qualifies on the utility dimension when the utility resolved from their address appears in this list. An empty list means the program has no utility footprint and is never selected on that dimension."
          },
          "program_year": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "application_deadline_days": {
            "type": "integer"
          },
          "max_rebates_per_customer": {
            "type": "integer"
          },
          "max_rebates_per_address": {
            "type": "integer"
          },
          "min_building_age_years": {
            "type": "integer"
          },
          "customer_classification": {
            "$ref": "#/components/schemas/CustomerClassification"
          },
          "requires_homeowner": {
            "type": "boolean"
          },
          "requires_income_qualification": {
            "type": "boolean"
          },
          "requires_contractor_participation": {
            "type": "boolean"
          },
          "requires_permits": {
            "type": "boolean"
          },
          "requires_inspection": {
            "type": "boolean"
          },
          "new_construction_eligible": {
            "type": "boolean"
          },
          "prohibits_fossil_backup": {
            "type": "boolean"
          },
          "device_category": {
            "type": "string"
          }
        },
        "description": "One program in Leap's rebate catalog. The catalog is shared across partners and covers utility, state and market programs, so a program you read here is not necessarily one your account can claim."
      },
      "ProgramListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProgramResponse"
            }
          },
          "next_page_token": {
            "type": "string",
            "description": "Cursor for the next page, absent on the last page. Pass it back as `page_token`, with the same filter that produced it."
          }
        },
        "description": "One page of catalog programs, plus the cursor for the next page."
      },
      "ProgramApprovedDeviceResponse": {
        "type": "object",
        "properties": {
          "program_identifier": {
            "type": "string"
          },
          "device_id": {
            "type": "string",
            "format": "uuid",
            "description": "Catalog device UUID. It is the same identifier **Search device catalog** returns as `id`, and the same one you send as `device_id` on a lookup."
          },
          "tier_id": {
            "type": "string",
            "format": "uuid",
            "description": "The incentive tier this device is bound to. Absent when the entry is not tier-specific."
          },
          "apl_source": {
            "type": "string",
            "description": "The Approved Product List publication this entry came from."
          },
          "apl_version": {
            "type": "string",
            "description": "The version of that Approved Product List publication."
          }
        },
        "description": "One Approved Product List entry: a catalog device this program pays a rebate on."
      },
      "TransmissionRegion": {
        "type": "string",
        "enum": [
          "CAISO",
          "ERCOT",
          "NYISO",
          "ISONE",
          "PJM",
          "SERC",
          "WECC_SW",
          "WECC_PC"
        ]
      },
      "CustomerClassification": {
        "description": "The customer or site class this program serves. `RESIDENTIAL` and `COMMERCIAL` are the long-standing values; `MULTIFAMILY` and `MANUFACTURED_HOME` exist because rebate qualification differs across single-family, multifamily and manufactured housing.",
        "type": "string",
        "enum": [
          "RESIDENTIAL",
          "MULTIFAMILY",
          "MANUFACTURED_HOME",
          "COMMERCIAL"
        ]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Leap API key as a Bearer token. Send it in the `Authorization` header: `Authorization: Bearer <api-key>`."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
