{
  "openapi": "3.0.1",
  "info": {
    "title": "Leap Incentives — Programs",
    "description": "API for managing program definitions, requirement catalog, field groups, and partner data preferences",
    "contact": {
      "email": "apiteam@leap.energy"
    },
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.leap.energy",
      "description": "Production"
    },
    {
      "url": "https://api.staging.leap.energy",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "programs"
    }
  ],
  "paths": {
    "/beta/incentives/programs": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "List programs",
        "description": "Browse Leap's catalog of rebate programs. The list returns enabled programs only by default: `enabled` is no longer a field in the response, so pass `filter=enabled=false` to read the disabled rows instead. There is no filter value meaning \"all\": retrieving the full catalog regardless of state takes two calls, `filter=enabled=true` and `filter=enabled=false`, which return disjoint sets.\n\nFiltering runs through the `filter` query parameter rather than a separate search route: pass comma-separated `field=value` pairs. Three fields are supported, `program_type`, `transmission_region` and `enabled`, and Leap combines them with AND. `transmission_region` stays filterable even though it no longer appears in the response. For example, `filter=transmission_region=CAISO,enabled=true` returns the enabled CAISO programs. Leap ignores a field name it does not recognise instead of rejecting it, so check your spelling. The `enabled` value must be `true` or `false`; anything else returns 400.\n\nThe catalog is shared across partners and is not scoped to your account. `data` carries the full matching set: `page_token` and `page_size` are reserved and have no effect yet, and `next_page_token` is never populated.",
        "operationId": "listPrograms",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter DSL. Comma-separated field=value pairs. Supported fields: program_type, transmission_region, enabled. Example: transmission_region=CAISO,enabled=true. `transmission_region` remains a valid filter field even though it no longer appears in the response. Omitting `enabled` means enabled=true; pass enabled=false to read the disabled rows.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved programs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/beta/incentives/programs/{program_id}": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "Get a program",
        "operationId": "getProgram",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramSummaryResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "description": "Retrieve one program by its `program_identifier`. That is the same value **Look up incentives** returns as `program_identifier` on each eligible program, so you can go from a lookup result straight to the program's catalog record.\n\nThe response carries the program's label, description, type, device category, the customer classification it serves, the full set of utility EIA ids it's available to, and where the definition came from (a Leap-maintained program or your own partner offer). An identifier Leap does not hold returns 404."
      }
    },
    "/beta/incentives/programs/{programIdentifier}/approved-devices": {
      "get": {
        "tags": [
          "programs"
        ],
        "summary": "List approved devices",
        "description": "List the Approved Product List (APL) entries for a program: the catalog devices this program pays a rebate on. Each entry names the catalog `device_id`, the tier it is bound to when the program restricts it to one, and the APL publication and version it came from.\n\nEntries identify devices by catalog UUID and nothing else. Leap does not publish a get-a-device-by-id route, and **Search device catalog** matches free text rather than identifiers, so you cannot resolve an unfamiliar `device_id` to a manufacturer and model through this API today.\n\nThe path segment on this route is `programIdentifier`, while every other program route uses `program_id`. Both take the same value. A program identifier Leap does not hold returns 404.",
        "operationId": "listApprovedDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProgramIdentifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Approved devices for the program",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProgramApprovedDeviceResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ProgramId": {
        "name": "program_id",
        "in": "path",
        "required": true,
        "description": "Identifier of the program",
        "schema": {
          "type": "string"
        }
      },
      "ProgramIdentifier": {
        "name": "programIdentifier",
        "in": "path",
        "required": true,
        "description": "Unique program identifier",
        "schema": {
          "type": "string"
        }
      },
      "PageToken": {
        "name": "page_token",
        "in": "query",
        "required": false,
        "description": "Token for cursor-based pagination",
        "schema": {
          "type": "string"
        }
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "required": false,
        "description": "Number of items per page (default 50)",
        "schema": {
          "type": "integer",
          "default": 50
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed or invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "You are not authorized to perform this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "You do not have permission to perform this operation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "An internal server error occurred",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "RequirementSource": {
        "type": "string",
        "enum": [
          "LEAP_DEFINITIONS",
          "INCENTIVES_DB",
          "PARTNER_OFFER"
        ],
        "description": "Where the definition came from. `LEAP_DEFINITIONS` and `INCENTIVES_DB` are rebate programs Leap maintains. `PARTNER_OFFER` marks a partner offer, which a partner account configures rather than Leap."
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ProgramSummaryResponse": {
        "type": "object",
        "description": "One program in Leap's rebate catalog. The catalog is shared across partners and covers utility, state and market programs, so a program you read here is not necessarily one your account can claim.",
        "properties": {
          "program_identifier": {
            "type": "string",
            "description": "Stable identifier for the program, and the value **Look up incentives** returns as `program_identifier` on each eligible program. Send it as the `program_id` path segment on the other program routes."
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "program_type": {
            "type": "string"
          },
          "eiaids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Every EIA utility id this program serves. A customer qualifies on the utility dimension when the utility resolved from their address appears in this list. An empty list means the program has no utility footprint and is never selected on that dimension."
          },
          "device_category": {
            "type": "string"
          },
          "customer_classification": {
            "$ref": "#/components/schemas/CustomerClassification"
          },
          "source": {
            "$ref": "#/components/schemas/RequirementSource"
          }
        }
      },
      "ProgramListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProgramSummaryResponse"
            }
          },
          "next_page_token": {
            "type": "string",
            "description": "Reserved for cursor pagination and not populated yet. Read the full matching set from `data`."
          }
        },
        "description": "A page of catalog programs. `data` carries the full matching set today, because this endpoint does not paginate yet."
      },
      "ProgramApprovedDeviceResponse": {
        "type": "object",
        "properties": {
          "program_identifier": {
            "type": "string"
          },
          "device_id": {
            "type": "string",
            "format": "uuid",
            "description": "Catalog device UUID. It is the same identifier **Search device catalog** returns as `id`, and the same one you send as `device_id` on a lookup."
          },
          "tier_id": {
            "type": "string",
            "format": "uuid",
            "description": "The incentive tier this device is bound to. Absent when the entry is not tier-specific."
          },
          "apl_source": {
            "type": "string",
            "description": "The Approved Product List publication this entry came from."
          },
          "apl_version": {
            "type": "string",
            "description": "The version of that Approved Product List publication."
          },
          "notes": {
            "type": "string",
            "description": "Free text Leap's data team recorded against this entry. Not part of the published contract."
          }
        },
        "description": "One Approved Product List entry: a catalog device this program pays a rebate on."
      },
      "CustomerClassification": {
        "description": "The customer or site class this program serves. `RESIDENTIAL` and `COMMERCIAL` are the long-standing values; `MULTIFAMILY` and `MANUFACTURED_HOME` exist because rebate qualification differs across single-family, multifamily and manufactured housing.",
        "type": "string",
        "enum": [
          "RESIDENTIAL",
          "MULTIFAMILY",
          "MANUFACTURED_HOME",
          "COMMERCIAL"
        ]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Leap API key as a Bearer token. Send it in the `Authorization` header: `Authorization: Bearer <api-key>`."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
