{
  "openapi": "3.0.3",
  "info": {
    "title": "Leap Incentives — Applications",
    "description": "The Leap Energy API provides a unified interface for managing rebate incentives and applications.\n\n## Incentives API\nSearch for and calculate incentive amounts across multiple utility programs. Given a customer\naddress and building type, the API identifies applicable utility programs and calculates potential\nincentive amounts for various device and tier combinations. When your organization has a webhook URL\nconfigured (Webhook Config API), each successful lookup triggers a POST to your URL with the response\nand optional custom fields (`webhook_custom_fields`).\n\n## Applications API\nManage rebate applications on behalf of customers. Applications represent a customer's request\nfor a rebate under a specific utility program, including customer information, device details,\nand application metadata.",
    "version": "2.0.0",
    "contact": {
      "name": "Leap Energy",
      "url": "https://leap.energy"
    }
  },
  "servers": [
    {
      "url": "https://api.incentives.leap.energy/alpha",
      "description": "Production"
    },
    {
      "url": "https://api.staging.incentives.leap.energy/alpha",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "applications"
    }
  ],
  "paths": {
    "/applications": {
      "get": {
        "summary": "Search applications",
        "description": "Search and filter the applications you're tracking. Returns a paginated list, filterable by reference ID or status.",
        "operationId": "searchApplications",
        "tags": [
          "applications"
        ],
        "parameters": [
          {
            "name": "refId",
            "in": "query",
            "description": "Reference ID to filter applications for a specific customer within your organization",
            "required": false,
            "schema": {
              "type": "string",
              "example": "982734ihksjhfwoe8u"
            }
          },
          {
            "name": "application_status",
            "in": "query",
            "description": "Filter by application status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "not_started",
                "in_progress",
                "awaiting_customer",
                "awaiting_partner",
                "completed",
                "submitted",
                "approved",
                "rejected"
              ],
              "example": "awaiting_partner"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Token for pagination to fetch the next page of results",
            "required": false,
            "schema": {
              "type": "string",
              "example": "242c3e24-43e6-4ad7-88b3-666cda21582b"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100,
              "example": 50
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \\\n  \"https://api.incentives.leap.energy/alpha/applications?application_status=awaiting_partner&limit=50\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/applications\"\nparams = {\n    \"application_status\": \"awaiting_partner\",\n    \"limit\": 50\n}\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.get(url, params=params, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/applications?application_status=awaiting_partner&limit=50',\n  {\n    method: 'GET',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    }\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSearchResponse"
                },
                "examples": {
                  "awaiting_partner_applications": {
                    "summary": "Applications awaiting partner data",
                    "value": {
                      "next_page_token": "242c3e24-43e6-4ad7-88b3-666cda21582b",
                      "results": [
                        {
                          "id": 123,
                          "program_id": 339,
                          "customer_id": 609,
                          "customer_device_id": [
                            45,
                            46
                          ],
                          "status": "awaiting_partner",
                          "rebate_type": "instant",
                          "payee_type": "customer",
                          "total_requested_amount": 150,
                          "created_at": "2025-01-10T15:30:00Z",
                          "updated_at": "2025-01-15T10:45:00Z",
                          "customer": {
                            "id": 609,
                            "first_name": "John",
                            "last_name": "Doe",
                            "email": "john.doe@example.com",
                            "phone": "555-123-4567",
                            "address_line1": "123 Peachtree St",
                            "city": "Atlanta",
                            "state": "GA",
                            "zip_code": "30303"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Application not in your organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "forbidden",
                  "message": "Application not in your organization",
                  "requestId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applications/{application_id}": {
      "get": {
        "summary": "Get application",
        "description": "Retrieve a single application in full, including customer information and device details.",
        "operationId": "getApplication",
        "tags": [
          "applications"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Unique identifier for the application",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          },
          {
            "name": "refId",
            "in": "query",
            "description": "Reference ID to verify the application belongs to a specific customer within your organization",
            "required": false,
            "schema": {
              "type": "string",
              "example": "982734ihksjhfwoe8u"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \\\n  \"https://api.incentives.leap.energy/alpha/applications/123\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/applications/123\"\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/applications/123',\n  {\n    method: 'GET',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    }\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                },
                "example": {
                  "id": 123,
                  "program_id": 339,
                  "customer_id": 609,
                  "customer_device_id": [
                    45,
                    46
                  ],
                  "status": "in_progress",
                  "rebate_type": "instant",
                  "payee_type": "customer",
                  "total_requested_amount": 150,
                  "agree_terms": true,
                  "customer_signature": true,
                  "customer_sig_date": "2025-01-15",
                  "project_name": "EV Charger Installation",
                  "created_at": "2025-01-10T15:30:00Z",
                  "updated_at": "2025-01-15T10:45:00Z",
                  "customer": {
                    "id": 609,
                    "first_name": "John",
                    "last_name": "Doe",
                    "email": "john.doe@example.com",
                    "phone": "555-123-4567",
                    "address_line1": "123 Peachtree St",
                    "address_line2": "Apt 4B",
                    "city": "Atlanta",
                    "state": "GA",
                    "zip_code": "30303",
                    "eiaid": "14354",
                    "utility_account_number": "ACC-123456789",
                    "is_homeowner": true,
                    "building_age_years": 25,
                    "household_size": 4,
                    "customer_devices": [
                      {
                        "id": 45,
                        "customer_id": 609,
                        "device_id": 240,
                        "quantity": 1,
                        "purchase_price": 599.99,
                        "installation_cost": 450,
                        "total_project_cost": 1049.99,
                        "purchase_date": "2025-01-05",
                        "installation_date": "2025-01-10",
                        "contractor_name": "ABC Electric",
                        "contractor_license": "EC-12345",
                        "permits_obtained": true,
                        "inspection_passed": true,
                        "created_at": "2025-01-10T12:00:00Z",
                        "updated_at": "2025-01-15T14:30:00Z",
                        "device": {
                          "model_name": "Smart Splitter",
                          "manufacturer": "ChargePoint",
                          "manufacture_year": 2024,
                          "device_category_name": "EV Charger",
                          "device_subcategory": "SPLITTER"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Application not in your organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "forbidden",
                  "message": "Application not in your organization",
                  "requestId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "summary": "Update application",
        "description": "Provide the information you're supplying on behalf of the customer — customer details, device data, purchase and installation dates, contractor info. Only include the fields you want to change; omitted fields keep their current values.\n\nStatus and system identifiers (`id`, `customer_id`, `program_id`) are read-only and can't be changed here.",
        "operationId": "patchApplicationById",
        "tags": [
          "applications"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Application ID to update. The application must belong to your organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "name": "dryRun",
            "in": "query",
            "description": "If true, validates the request without applying changes",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Application update request. See schema for details.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrgApplicationPatchRequest"
              },
              "examples": {
                "application_and_customer": {
                  "summary": "Update application and customer",
                  "value": {
                    "approval_date": "2025-01-25",
                    "customer": {
                      "email": "newemail@example.com",
                      "phone": "+15559876543"
                    }
                  }
                },
                "application_only": {
                  "summary": "Update application only",
                  "value": {
                    "submission_date": "2025-01-20"
                  }
                },
                "customer_and_devices": {
                  "summary": "Update customer and devices",
                  "value": {
                    "customer": {
                      "email": "updated@example.com"
                    },
                    "customer_devices": [
                      {
                        "id": 78,
                        "inspection_passed": true,
                        "permit_number": "PERMIT-2025-001"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated application(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "requestId": {
                      "type": "string",
                      "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    },
                    "application_id": {
                      "type": "integer",
                      "example": 123
                    },
                    "customer_id": {
                      "type": "integer",
                      "example": 456
                    },
                    "mutations": {
                      "type": "object",
                      "description": "Details about what was updated",
                      "properties": {
                        "application": {
                          "type": "object",
                          "properties": {
                            "updated": {
                              "type": "boolean"
                            },
                            "fields": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "customer": {
                          "type": "object",
                          "properties": {
                            "updated": {
                              "type": "boolean"
                            },
                            "fields": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "customer_devices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "action": {
                                "type": "string"
                              },
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "description": "Complete snapshot matching GET `/applications/{id}` response structure",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Application"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "customer": {
                              "$ref": "#/components/schemas/Customer"
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "successful_update": {
                    "summary": "Successful update",
                    "value": {
                      "ok": true,
                      "requestId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "application_id": 123,
                      "customer_id": 456,
                      "mutations": {
                        "application": {
                          "updated": true,
                          "fields": [
                            "status",
                            "approval_date"
                          ]
                        },
                        "customer": {
                          "updated": true,
                          "fields": [
                            "email"
                          ]
                        }
                      },
                      "data": {
                        "id": 123,
                        "program_id": 45,
                        "customer_id": 456,
                        "organization_id": "550e8400-e29b-41d4-a716-446655440000",
                        "status": "approved",
                        "approval_date": "2025-01-25",
                        "submission_date": "2025-01-15",
                        "created_at": "2025-01-10T10:00:00Z",
                        "updated_at": "2025-01-25T16:45:00Z",
                        "customer": {
                          "id": 456,
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "email": "newemail@example.com",
                          "customer_devices": [
                            {
                              "id": 10,
                              "customer_id": 456,
                              "device_id": 5,
                              "quantity": 1
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Application not in your organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X PATCH \\\n  \"https://api.incentives.leap.energy/alpha/applications/123\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"approval_date\": \"2025-01-25\",\n    \"customer\": {\n      \"email\": \"newemail@example.com\"\n    }\n  }'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/applications/123\"\n\npayload = {\n    \"approval_date\": \"2025-01-25\",\n    \"customer\": {\n        \"email\": \"newemail@example.com\"\n    }\n}\n\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.patch(url, json=payload, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/applications/123',\n  {\n    method: 'PATCH',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      approval_date: '2025-01-25',\n      customer: {\n        email: 'newemail@example.com'\n      }\n    })\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "const axios = require('axios');\n\nconst url = 'https://api.incentives.leap.energy/alpha/applications/123';\n\nconst payload = {\n  approval_date: '2025-01-25',\n  customer: {\n    email: 'newemail@example.com'\n  }\n};\n\nconst response = await axios.patch(url, payload, {\n  headers: {\n    'x-api-key': 'leap_live_...',\n    'Content-Type': 'application/json'\n  }\n});\n\nconsole.log(response.data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$url = 'https://api.incentives.leap.energy/alpha/applications/123';\n\n$payload = [\n    'approval_date' => '2025-01-25',\n    'customer' => [\n        'email' => 'newemail@example.com'\n    ]\n];\n\n$ch = curl_init($url);\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'PATCH');\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($payload));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-api-key: leap_live_...',\n    'Content-Type: application/json'\n]);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\ncurl_close($ch);\n\nprint_r(json_decode($response, true));"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.http.*;\nimport java.net.URI;\n\nHttpClient client = HttpClient.newHttpClient();\n\nString json = \"\"\"{\n  \"approval_date\": \"2025-01-25\",\n  \"customer\": {\n    \"email\": \"newemail@example.com\"\n  }\n}\"\"\";\n\nHttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://api.incentives.leap.energy/alpha/applications/123\"))\n    .header(\"x-api-key\", \"leap_live_...\")\n    .header(\"Content-Type\", \"application/json\")\n    .method(\"PATCH\", HttpRequest.BodyPublishers.ofString(json))\n    .build();\n\nHttpResponse<String> response = client.send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\nrequire 'json'\n\nuri = URI('https://api.incentives.leap.energy/alpha/applications/123')\n\npayload = {\n  approval_date: '2025-01-25',\n  customer: {\n    email: 'newemail@example.com'\n  }\n}\n\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Patch.new(uri)\nrequest['x-api-key'] = 'leap_live_...'\nrequest['Content-Type'] = 'application/json'\nrequest.body = payload.to_json\n\nresponse = http.request(request)\nputs JSON.parse(response.body)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"net/http\"\n)\n\nfunc main() {\n\turl := \"https://api.incentives.leap.energy/alpha/applications/123\"\n\n\tpayload := map[string]interface{}{\n\t\t\"approval_date\": \"2025-01-25\",\n\t\t\"customer\": map[string]interface{}{\n\t\t\t\"email\": \"newemail@example.com\",\n\t\t},\n\t}\n\n\tjsonData, _ := json.Marshal(payload)\n\treq, _ := http.NewRequest(\"PATCH\", url, bytes.NewBuffer(jsonData))\n\treq.Header.Set(\"x-api-key\", \"leap_live_...\")\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\tclient := &http.Client{}\n\tresp, _ := client.Do(req)\n\tdefer resp.Body.Close()\n\n\tvar result map[string]interface{}\n\tjson.NewDecoder(resp.Body).Decode(&result)\n\tfmt.Println(result)\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\nusing System.Text;\nusing System.Text.Json;\nusing System.Threading.Tasks;\n\nvar client = new HttpClient();\nvar url = \"https://api.incentives.leap.energy/alpha/applications/123\";\n\nvar payload = new {\n    approval_date = \"2025-01-25\",\n    customer = new {\n        email = \"newemail@example.com\"\n    }\n};\n\nvar content = new StringContent(\n    JsonSerializer.Serialize(payload),\n    Encoding.UTF8,\n    \"application/json\"\n);\n\nvar request = new HttpRequestMessage(new HttpMethod(\"PATCH\"), url) {\n    Content = content\n};\nrequest.Headers.Add(\"x-api-key\", \"leap_live_...\");\n\nvar response = await client.SendAsync(request);\nvar result = await response.Content.ReadAsStringAsync();\nConsole.WriteLine(result);"
          }
        ]
      }
    },
    "/applications/attachments": {
      "get": {
        "summary": "List attachments",
        "description": "List the attachments on one or more applications. Pass `application_id` (with an `attachment_type`) for a single application, or `application_ids` (comma-separated) for several.",
        "operationId": "listAttachments",
        "tags": [
          "applications"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "query",
            "description": "Application ID to list attachments for. Requires attachment_type parameter.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "name": "application_ids",
            "in": "query",
            "description": "Comma-separated list of application IDs for bulk listing. attachment_type is optional.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "123,456,789"
          },
          {
            "name": "attachment_type",
            "in": "query",
            "description": "Filter by attachment type. Required when using application_id.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "INVOICE_EQUIPMENT",
                "INVOICE_INSTALL",
                "PERMIT",
                "PHOTO_NAMEPLATE",
                "PHOTO_INSTALL",
                "PHOTO_METER",
                "AHRI_CERT",
                "NEAT_REPORT",
                "INCOME_FORM",
                "W9",
                "OTHER",
                "VEHICLE_PURCHASE",
                "UTILITY_BILL",
                "VEHICLE_REGISTRATION",
                "SIGNATURE",
                "TARIFF_CONFIRMATION"
              ]
            },
            "example": "INVOICE_EQUIPMENT"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Upload attachment",
        "description": "Create a signed URL for uploading an attachment. Upload the file to that URL with a PUT request, then confirm it with the commit endpoint.",
        "operationId": "createAttachmentUploadUrl",
        "tags": [
          "applications"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \\\n  \"https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"attachment_type\": \"INVOICE_EQUIPMENT\",\n    \"filename\": \"invoice.pdf\",\n    \"contentType\": \"application/pdf\"\n  }'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123\"\n\npayload = {\n    \"attachment_type\": \"INVOICE_EQUIPMENT\",\n    \"filename\": \"invoice.pdf\",\n    \"contentType\": \"application/pdf\"\n}\n\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123',\n  {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      attachment_type: 'INVOICE_EQUIPMENT',\n      filename: 'invoice.pdf',\n      contentType: 'application/pdf'\n    })\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$url = 'https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123';\n\n$payload = [\n    'attachment_type' => 'INVOICE_EQUIPMENT',\n    'filename' => 'invoice.pdf',\n    'contentType' => 'application/pdf'\n];\n\n$ch = curl_init($url);\ncurl_setopt($ch, CURLOPT_POST, true);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($payload));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-api-key: leap_live_...',\n    'Content-Type: application/json'\n]);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\ncurl_close($ch);\n\nprint_r(json_decode($response, true));"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.http.*;\nimport java.net.URI;\n\nHttpClient client = HttpClient.newHttpClient();\n\nString json = \"\"\"{\n  \"attachment_type\": \"INVOICE_EQUIPMENT\",\n  \"filename\": \"invoice.pdf\",\n  \"contentType\": \"application/pdf\"\n}\"\"\";\n\nHttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123\"))\n    .header(\"x-api-key\", \"leap_live_...\")\n    .header(\"Content-Type\", \"application/json\")\n    .POST(HttpRequest.BodyPublishers.ofString(json))\n    .build();\n\nHttpResponse<String> response = client.send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\nrequire 'json'\n\nuri = URI('https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123')\n\npayload = {\n  attachment_type: 'INVOICE_EQUIPMENT',\n  filename: 'invoice.pdf',\n  contentType: 'application/pdf'\n}\n\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(uri)\nrequest['x-api-key'] = 'leap_live_...'\nrequest['Content-Type'] = 'application/json'\nrequest.body = payload.to_json\n\nresponse = http.request(request)\nputs JSON.parse(response.body)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"net/http\"\n)\n\nfunc main() {\n\turl := \"https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123\"\n\n\tpayload := map[string]interface{}{\n\t\t\"attachment_type\": \"INVOICE_EQUIPMENT\",\n\t\t\"filename\":        \"invoice.pdf\",\n\t\t\"contentType\":     \"application/pdf\",\n\t}\n\n\tjsonData, _ := json.Marshal(payload)\n\treq, _ := http.NewRequest(\"POST\", url, bytes.NewBuffer(jsonData))\n\treq.Header.Set(\"x-api-key\", \"leap_live_...\")\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\tclient := &http.Client{}\n\tresp, _ := client.Do(req)\n\tdefer resp.Body.Close()\n\n\tvar result map[string]interface{}\n\tjson.NewDecoder(resp.Body).Decode(&result)\n\tfmt.Println(result)\n}"
          }
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "query",
            "description": "Application ID to attach the file to. The application must belong to your organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Attachment metadata for creating the upload URL. Note: `application_id` comes from query parameter, not body.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "attachment_type",
                  "filename",
                  "contentType"
                ],
                "properties": {
                  "attachment_type": {
                    "type": "string",
                    "enum": [
                      "INVOICE_EQUIPMENT",
                      "INVOICE_INSTALL",
                      "PERMIT",
                      "PHOTO_NAMEPLATE",
                      "PHOTO_INSTALL",
                      "PHOTO_METER",
                      "AHRI_CERT",
                      "NEAT_REPORT",
                      "INCOME_FORM",
                      "W9",
                      "OTHER",
                      "MODEL_TECH_SPECS",
                      "VEHICLE_PURCHASE",
                      "UTILITY_BILL",
                      "VEHICLE_REGISTRATION",
                      "SIGNATURE",
                      "TARIFF_CONFIRMATION"
                    ],
                    "description": "Type of attachment being uploaded",
                    "example": "INVOICE_EQUIPMENT"
                  },
                  "filename": {
                    "type": "string",
                    "description": "Name of the file being uploaded",
                    "example": "invoice.pdf"
                  },
                  "contentType": {
                    "type": "string",
                    "description": "MIME type of the file",
                    "example": "application/pdf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created upload URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "requestId": {
                      "type": "string",
                      "example": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                    },
                    "uploadUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed URL for uploading the file (PUT file bytes here)",
                      "example": "https://<storage-host>/attachments/app-123/<uuid>-invoice.pdf?token=..."
                    },
                    "path": {
                      "type": "string",
                      "description": "Object path to use in commit step",
                      "example": "app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf"
                    },
                    "bucket": {
                      "type": "string",
                      "example": "attachments"
                    },
                    "instructions": {
                      "type": "string",
                      "example": "PUT bytes to uploadUrl with the file content-type, then call POST /applications/attachments/commit to finalize."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applications/attachments/{id}/download": {
      "get": {
        "summary": "Download attachment",
        "description": "Get a signed URL for downloading an attachment. The URL is valid for one hour.",
        "operationId": "downloadAttachment",
        "tags": [
          "applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Attachment ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 456
          },
          {
            "name": "application_id",
            "in": "query",
            "description": "Application ID that the attachment belongs to.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved download URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed download URL (valid for 1 hour)",
                      "example": "https://<storage-host>/attachments/app-123/<uuid>-invoice.pdf?token=..."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed download URL (same as downloadUrl, for compatibility)",
                      "example": "https://<storage-host>/attachments/app-123/<uuid>-invoice.pdf?token=..."
                    },
                    "file_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed download URL (same as downloadUrl, for compatibility)",
                      "example": "https://<storage-host>/attachments/app-123/<uuid>-invoice.pdf?token=..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "Attachment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applications/attachments/{id}": {
      "delete": {
        "summary": "Delete attachment",
        "description": "Permanently delete an attachment. This removes the file and its record and can't be undone.",
        "operationId": "deleteAttachment",
        "tags": [
          "applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Attachment ID to delete",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 456
          },
          {
            "name": "application_id",
            "in": "query",
            "description": "Application ID that the attachment belongs to.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted attachment",
            "content": {}
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "Attachment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applications/attachments/commit": {
      "post": {
        "summary": "Commit attachment upload",
        "description": "Confirm an attachment after the file has been uploaded to its signed URL. This finalizes the attachment on the application.",
        "operationId": "commitAttachment",
        "tags": [
          "applications"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \\\n  \"https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"attachment_type\": \"INVOICE_EQUIPMENT\",\n    \"path\": \"app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf\",\n    \"makePublic\": true\n  }'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123\"\n\npayload = {\n    \"attachment_type\": \"INVOICE_EQUIPMENT\",\n    \"path\": \"app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf\",\n    \"makePublic\": True\n}\n\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123',\n  {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      attachment_type: 'INVOICE_EQUIPMENT',\n      path: 'app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf',\n      makePublic: true\n    })\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$url = 'https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123';\n\n$payload = [\n    'attachment_type' => 'INVOICE_EQUIPMENT',\n    'path' => 'app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf',\n    'makePublic' => true\n];\n\n$ch = curl_init($url);\ncurl_setopt($ch, CURLOPT_POST, true);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($payload));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-api-key: leap_live_...',\n    'Content-Type: application/json'\n]);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\ncurl_close($ch);\n\nprint_r(json_decode($response, true));"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.http.*;\nimport java.net.URI;\n\nHttpClient client = HttpClient.newHttpClient();\n\nString json = \"\"\"{\n  \"attachment_type\": \"INVOICE_EQUIPMENT\",\n  \"path\": \"app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf\",\n  \"makePublic\": true\n}\"\"\";\n\nHttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123\"))\n    .header(\"x-api-key\", \"leap_live_...\")\n    .header(\"Content-Type\", \"application/json\")\n    .POST(HttpRequest.BodyPublishers.ofString(json))\n    .build();\n\nHttpResponse<String> response = client.send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\nrequire 'json'\n\nuri = URI('https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123')\n\npayload = {\n  attachment_type: 'INVOICE_EQUIPMENT',\n  path: 'app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf',\n  makePublic: true\n}\n\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(uri)\nrequest['x-api-key'] = 'leap_live_...'\nrequest['Content-Type'] = 'application/json'\nrequest.body = payload.to_json\n\nresponse = http.request(request)\nputs JSON.parse(response.body)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"net/http\"\n)\n\nfunc main() {\n\turl := \"https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123\"\n\n\tpayload := map[string]interface{}{\n\t\t\"attachment_type\": \"INVOICE_EQUIPMENT\",\n\t\t\"path\":            \"app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf\",\n\t\t\"makePublic\":      true,\n\t}\n\n\tjsonData, _ := json.Marshal(payload)\n\treq, _ := http.NewRequest(\"POST\", url, bytes.NewBuffer(jsonData))\n\treq.Header.Set(\"x-api-key\", \"leap_live_...\")\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\tclient := &http.Client{}\n\tresp, _ := client.Do(req)\n\tdefer resp.Body.Close()\n\n\tvar result map[string]interface{}\n\tjson.NewDecoder(resp.Body).Decode(&result)\n\tfmt.Println(result)\n}"
          }
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "query",
            "description": "Application ID that the attachment belongs to. The application must belong to your organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Attachment commit request. Note: `application_id` comes from query parameter, not body.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "attachment_type",
                  "path"
                ],
                "properties": {
                  "attachment_type": {
                    "type": "string",
                    "enum": [
                      "INVOICE_EQUIPMENT",
                      "INVOICE_INSTALL",
                      "PERMIT",
                      "PHOTO_NAMEPLATE",
                      "PHOTO_INSTALL",
                      "PHOTO_METER",
                      "AHRI_CERT",
                      "NEAT_REPORT",
                      "INCOME_FORM",
                      "W9",
                      "OTHER",
                      "MODEL_TECH_SPECS",
                      "VEHICLE_PURCHASE",
                      "UTILITY_BILL",
                      "VEHICLE_REGISTRATION",
                      "SIGNATURE",
                      "TARIFF_CONFIRMATION"
                    ],
                    "description": "Type of attachment",
                    "example": "INVOICE_EQUIPMENT"
                  },
                  "path": {
                    "type": "string",
                    "description": "Object path returned from the create step (uses `app-{application_id}/` prefix)",
                    "example": "app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf"
                  },
                  "makePublic": {
                    "type": "boolean",
                    "description": "If true, generates a public URL (default: false)",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully committed attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "requestId": {
                      "type": "string",
                      "example": "c3d4e5f6-a7b8-9012-cdef-123456789012"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Database record ID of the attachment",
                      "example": 789
                    },
                    "file_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Storage URL (`storage://...` or public HTTP URL if `makePublic=true`)",
                      "example": "https://<storage-host>/attachments/app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf"
                    },
                    "bucket": {
                      "type": "string",
                      "example": "attachments"
                    },
                    "path": {
                      "type": "string",
                      "description": "Object path",
                      "example": "app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Application not in your organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Application not found or object not found (upload may have failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your Leap API key. Send it in the `x-api-key` header: `x-api-key: leap_live_...`."
      }
    },
    "schemas": {
      "CustomerSearchResult": {
        "type": "object",
        "description": "Truncated customer information returned in search results",
        "required": [
          "id",
          "address_line1",
          "city",
          "state",
          "zip_code"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the customer",
            "example": 456
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "Customer's first name",
            "example": "Jane"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "Customer's last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Customer's email address",
            "example": "jane.doe@example.com"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Customer's phone number",
            "example": "+15551234567"
          },
          "address_line1": {
            "type": "string",
            "description": "Street address line 1",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City",
            "example": "San Francisco"
          },
          "state": {
            "type": "string",
            "description": "State code (2 letters)",
            "example": "CA"
          },
          "zip_code": {
            "type": "string",
            "description": "ZIP code",
            "example": "94102"
          }
        }
      },
      "ApplicationSearchResult": {
        "type": "object",
        "description": "Truncated application information returned in search results",
        "required": [
          "id",
          "program_id",
          "customer_id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the application",
            "example": 123
          },
          "program_id": {
            "type": "integer",
            "description": "ID of the rebate program this application is for",
            "example": 45
          },
          "customer_id": {
            "type": "integer",
            "description": "ID of the customer who owns this application",
            "example": 456
          },
          "reference_id": {
            "type": "string",
            "nullable": true,
            "description": "Reference ID for the customer within the organization (from customer_organizations)",
            "example": "external-ref-123"
          },
          "customer_device_id": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of customer device IDs associated with this application",
            "example": [
              10,
              11
            ]
          },
          "rebate_type": {
            "type": "string",
            "nullable": true,
            "description": "Type of rebate being requested",
            "example": "point_of_sale"
          },
          "payee_type": {
            "type": "string",
            "enum": [
              "customer",
              "contractor",
              "instant"
            ],
            "nullable": true,
            "description": "Who will receive the rebate payment",
            "example": "customer"
          },
          "submission_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the application was submitted",
            "example": "2025-01-15"
          },
          "approval_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the application was approved",
            "example": "2025-01-20"
          },
          "total_requested_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Total rebate amount being requested. Equal to the sum of upfront_amount + install_amount + ongoing_amount.",
            "example": 1500
          },
          "upfront_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Pre-install upfront incentive amount. Reserved for future use; currently always 0. Part of the itemized breakdown that sums to total_requested_amount.",
            "example": 0
          },
          "install_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "At-install one-time incentive amount. Part of the itemized breakdown that sums to total_requested_amount.",
            "example": 1500
          },
          "ongoing_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Ongoing incentive amount, per year. Part of the itemized breakdown that sums to total_requested_amount.",
            "example": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "not_started",
              "in_progress",
              "awaiting_customer",
              "awaiting_partner",
              "completed",
              "submitted",
              "approved",
              "rejected"
            ],
            "default": "not_started",
            "description": "Current status of the application",
            "example": "submitted"
          },
          "equipment_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether all equipment documentation is complete"
          },
          "permit_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether all permit documentation is complete"
          },
          "utility_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether all utility documentation is complete"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when application was created",
            "example": "2025-01-10T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when application was last updated",
            "example": "2025-01-15T14:30:00Z"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerSearchResult"
          }
        }
      },
      "ApplicationSearchResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "next_page_token": {
            "type": "string",
            "nullable": true,
            "description": "Token to fetch the next page of results. Null if no more pages available.",
            "example": "242c3e24-43e6-4ad7-88b3-666cda21582b"
          },
          "results": {
            "type": "array",
            "description": "Array of applications matching the search criteria",
            "items": {
              "$ref": "#/components/schemas/ApplicationSearchResult"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message",
          "requestId"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code identifying the type of error",
            "example": "not_found"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "Application 123 not found"
          },
          "details": {
            "description": "Additional error details (optional)",
            "example": "Additional context about the error"
          },
          "requestId": {
            "type": "string",
            "description": "Unique request identifier for tracking and debugging",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        }
      },
      "Application": {
        "type": "object",
        "description": "Complete application with nested customer and device information",
        "required": [
          "id",
          "program_id",
          "customer_id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the application",
            "example": 123
          },
          "program_id": {
            "type": "integer",
            "description": "ID of the rebate program this application is for",
            "example": 339
          },
          "customer_id": {
            "type": "integer",
            "description": "ID of the customer who owns this application",
            "example": 609
          },
          "reference_id": {
            "type": "string",
            "nullable": true,
            "description": "Reference ID for the customer within the organization (from customer_organizations). Matches the reference_id used with the incentives API.",
            "example": "external-ref-123"
          },
          "customer_device_id": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of customer device IDs associated with this application",
            "example": [
              45,
              46
            ]
          },
          "rebate_type": {
            "type": "string",
            "nullable": true,
            "description": "Type of rebate being requested",
            "example": "instant"
          },
          "payee_type": {
            "type": "string",
            "enum": [
              "customer",
              "contractor",
              "instant"
            ],
            "nullable": true,
            "description": "Who will receive the rebate payment",
            "example": "customer"
          },
          "submission_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the application was submitted",
            "example": "2025-01-15"
          },
          "approval_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the application was approved",
            "example": "2025-01-20"
          },
          "total_requested_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Total rebate amount being requested. Equal to the sum of upfront_amount + install_amount + ongoing_amount.",
            "example": 150
          },
          "upfront_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Pre-install upfront incentive amount. Reserved for future use; currently always 0. Part of the itemized breakdown that sums to total_requested_amount.",
            "example": 0
          },
          "install_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "At-install one-time incentive amount. Part of the itemized breakdown that sums to total_requested_amount.",
            "example": 150
          },
          "ongoing_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Ongoing incentive amount, per year. Part of the itemized breakdown that sums to total_requested_amount.",
            "example": 0
          },
          "agree_terms": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether customer agreed to terms and conditions",
            "example": true
          },
          "customer_signature": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether customer has signed the application",
            "example": true
          },
          "customer_sig_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date of customer signature",
            "example": "2025-01-15"
          },
          "contractor_signature": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether contractor has signed the application",
            "example": false
          },
          "contractor_sig_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date of contractor signature"
          },
          "project_name": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Name/description of the project",
            "example": "EV Charger Installation"
          },
          "eligibility_category": {
            "type": "string",
            "enum": [
              "1A",
              "1B",
              "1C",
              "2"
            ],
            "nullable": true,
            "description": "Eligibility category for tiered programs"
          },
          "income_backup_onfile": {
            "type": "boolean",
            "default": false,
            "description": "Whether income verification documentation is on file"
          },
          "neat_sir_verified": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether NEAT/SIR verification is complete"
          },
          "proposed_measures": {
            "type": "object",
            "nullable": true,
            "description": "JSONB object containing proposed energy efficiency measures"
          },
          "prepay_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Amount to be prepaid to contractor"
          },
          "authorize_contractor": {
            "type": "boolean",
            "default": false,
            "description": "Authorization to pay contractor directly"
          },
          "authorize_payee": {
            "type": "boolean",
            "default": false,
            "description": "Authorization to pay specified payee"
          },
          "utility_account_attestation": {
            "type": "boolean",
            "nullable": true,
            "description": "Attestation that applicant is utility account holder"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_started",
              "in_progress",
              "awaiting_customer",
              "awaiting_partner",
              "completed",
              "submitted",
              "approved",
              "rejected"
            ],
            "default": "not_started",
            "description": "Current status of the application",
            "example": "in_progress"
          },
          "equipment_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether all equipment documentation is complete"
          },
          "permit_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether all permit documentation is complete"
          },
          "utility_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether all utility documentation is complete"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when application was created",
            "example": "2025-01-10T15:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when application was last updated",
            "example": "2025-01-15T10:45:00Z"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          }
        }
      },
      "Customer": {
        "type": "object",
        "description": "Customer information associated with an application",
        "required": [
          "id",
          "address_line1",
          "city",
          "state",
          "zip_code"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the customer",
            "example": 609
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "Customer's first name",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "Customer's last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Customer's email address",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Customer's phone number",
            "example": "555-123-4567"
          },
          "address_line1": {
            "type": "string",
            "description": "Street address line 1",
            "example": "123 Peachtree St"
          },
          "address_line2": {
            "type": "string",
            "nullable": true,
            "description": "Street address line 2 (apt, suite, etc.)",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "City",
            "example": "Atlanta"
          },
          "state": {
            "type": "string",
            "description": "State code (2 letters)",
            "example": "GA"
          },
          "zip_code": {
            "type": "string",
            "description": "ZIP code",
            "example": "30303"
          },
          "eiaid": {
            "type": "string",
            "nullable": true,
            "description": "Energy Information Administration utility ID",
            "example": "14354"
          },
          "utility_account_number": {
            "type": "string",
            "nullable": true,
            "description": "Customer's utility account number",
            "example": "ACC-123456789"
          },
          "building_type_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID of the building type",
            "example": 1
          },
          "is_homeowner": {
            "type": "boolean",
            "default": false,
            "description": "Whether customer owns the property",
            "example": true
          },
          "is_income_qualified": {
            "type": "boolean",
            "default": false,
            "description": "Whether customer qualifies for income-based programs",
            "example": false
          },
          "building_age_years": {
            "type": "integer",
            "nullable": true,
            "description": "Age of the building in years",
            "example": 25
          },
          "within_city_limits": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether property is within city limits",
            "example": true
          },
          "referral_source": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "How customer heard about the program",
            "example": "utility website"
          },
          "fax": {
            "type": "string",
            "nullable": true,
            "description": "Customer's fax number"
          },
          "conditioned_sqft": {
            "type": "integer",
            "nullable": true,
            "description": "Square footage of conditioned space",
            "example": 2000
          },
          "gut_rehab": {
            "type": "boolean",
            "default": false,
            "description": "Whether property is undergoing gut rehabilitation"
          },
          "gas_appliance_present": {
            "type": "boolean",
            "default": false,
            "description": "Whether gas appliances are present"
          },
          "home_energy_assessment_completed": {
            "type": "boolean",
            "default": false,
            "description": "Whether a home energy assessment has been completed"
          },
          "household_size": {
            "type": "integer",
            "nullable": true,
            "description": "Number of people in household",
            "example": 4
          },
          "mailing_address_line1": {
            "type": "string",
            "nullable": true,
            "description": "Mailing address if different from property address"
          },
          "mailing_city": {
            "type": "string",
            "nullable": true,
            "description": "Mailing address city"
          },
          "mailing_state": {
            "type": "string",
            "nullable": true,
            "description": "Mailing address state"
          },
          "mailing_zip": {
            "type": "string",
            "nullable": true,
            "description": "Mailing address ZIP code"
          },
          "alt_phone": {
            "type": "string",
            "nullable": true,
            "description": "Alternate phone number"
          },
          "biz_tax_status": {
            "type": "string",
            "nullable": true,
            "description": "Business tax status"
          },
          "ca_entity_id": {
            "type": "string",
            "nullable": true,
            "description": "California entity ID"
          },
          "county_parish": {
            "type": "string",
            "nullable": true,
            "description": "County or parish name",
            "example": "Fulton County"
          },
          "is_indigenous": {
            "type": "boolean",
            "default": false,
            "description": "Whether customer identifies as indigenous"
          },
          "is_veteran": {
            "type": "boolean",
            "default": false,
            "description": "Whether customer is a veteran"
          },
          "is_senior": {
            "type": "boolean",
            "default": false,
            "description": "Whether customer is a senior"
          },
          "is_first_responder": {
            "type": "boolean",
            "default": false,
            "description": "Whether customer is a first responder"
          },
          "property_details": {
            "type": "object",
            "default": {},
            "description": "Additional property details as JSONB"
          },
          "utility_rate_plan": {
            "type": "string",
            "nullable": true,
            "description": "Customer's utility rate plan",
            "example": "R-1B"
          },
          "utility_account_status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "pending"
            ],
            "default": "active",
            "description": "Status of utility account"
          },
          "dwelling_units": {
            "type": "integer",
            "nullable": true,
            "description": "Number of dwelling units in building",
            "example": 1
          },
          "customer_devices": {
            "type": "array",
            "description": "Array of devices associated with this customer",
            "items": {
              "$ref": "#/components/schemas/CustomerDevice"
            }
          }
        }
      },
      "Attachment": {
        "type": "object",
        "description": "Attachment/document associated with an application",
        "required": [
          "id",
          "application_id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the attachment",
            "example": 456
          },
          "application_id": {
            "type": "integer",
            "description": "ID of the application this attachment belongs to",
            "example": 123
          },
          "attachment_type": {
            "type": "string",
            "enum": [
              "INVOICE_EQUIPMENT",
              "INVOICE_INSTALL",
              "PERMIT",
              "PHOTO_NAMEPLATE",
              "PHOTO_INSTALL",
              "PHOTO_METER",
              "AHRI_CERT",
              "NEAT_REPORT",
              "INCOME_FORM",
              "W9",
              "OTHER",
              "MODEL_TECH_SPECS",
              "VEHICLE_PURCHASE",
              "UTILITY_BILL",
              "VEHICLE_REGISTRATION",
              "SIGNATURE",
              "TARIFF_CONFIRMATION"
            ],
            "description": "Type of attachment",
            "example": "INVOICE_EQUIPMENT"
          },
          "filename": {
            "type": "string",
            "description": "Original filename",
            "example": "invoice.pdf"
          },
          "path": {
            "type": "string",
            "description": "Storage path of the file",
            "example": "app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf"
          },
          "content_type": {
            "type": "string",
            "description": "MIME type of the file",
            "example": "application/pdf"
          },
          "size": {
            "type": "integer",
            "nullable": true,
            "description": "File size in bytes",
            "example": 245760
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when attachment was created",
            "example": "2025-01-10T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when attachment was last updated",
            "example": "2025-01-15T14:30:00Z"
          }
        }
      },
      "CustomerDevice": {
        "type": "object",
        "description": "Device purchased and installed by customer",
        "required": [
          "id",
          "customer_id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for this customer device record",
            "example": 45
          },
          "customer_id": {
            "type": "integer",
            "description": "ID of the customer who owns this device",
            "example": 609
          },
          "device_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID of the device from the devices catalog. Device catalog ID (UUID); integer IDs were the pre-migration form.",
            "example": "018f2c3a-1111-4222-8333-444455556666"
          },
          "quantity": {
            "type": "integer",
            "default": 1,
            "description": "Number of devices purchased",
            "example": 1
          },
          "purchase_price": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Price paid for the device",
            "example": 599.99
          },
          "installation_cost": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Cost of installation",
            "example": 450
          },
          "total_project_cost": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Total cost including equipment and installation",
            "example": 1049.99
          },
          "purchase_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date device was purchased",
            "example": "2025-01-05"
          },
          "installation_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date device was installed",
            "example": "2025-01-10"
          },
          "existing_equipment_age_years": {
            "type": "integer",
            "nullable": true,
            "description": "Age of equipment being replaced",
            "example": 15
          },
          "existing_equipment_operational": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether existing equipment is still operational",
            "example": false
          },
          "existing_equipment_manufacturer": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Manufacturer of existing equipment",
            "example": "Old Brand"
          },
          "existing_equipment_model": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Model of existing equipment",
            "example": "Model-X"
          },
          "installation_location": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Where device was installed",
            "example": "Garage"
          },
          "contractor_name": {
            "type": "string",
            "maxLength": 200,
            "nullable": true,
            "description": "Name of contractor who performed installation",
            "example": "ABC Electric"
          },
          "contractor_license": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Contractor's license number",
            "example": "EC-12345"
          },
          "permits_obtained": {
            "type": "boolean",
            "default": false,
            "description": "Whether required permits were obtained",
            "example": true
          },
          "inspection_passed": {
            "type": "boolean",
            "default": false,
            "description": "Whether inspection passed",
            "example": true
          },
          "application_submitted_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date application was submitted",
            "example": "2025-01-15"
          },
          "permit_number": {
            "type": "string",
            "nullable": true,
            "description": "Permit number",
            "example": "PMT-2025-001"
          },
          "vehicle_vin": {
            "type": "string",
            "nullable": true,
            "description": "Vehicle identification number",
            "example": "5YJ3E1EA9KF123456"
          },
          "dealership": {
            "type": "string",
            "nullable": true,
            "description": "Dealership where vehicle was purchased",
            "example": "Tesla Atlanta"
          },
          "contractor_contact_email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Contractor's email",
            "example": "contact@abcelectric.com"
          },
          "contractor_contact_phone": {
            "type": "string",
            "nullable": true,
            "description": "Contractor's phone number",
            "example": "555-987-6543"
          },
          "contractor_website": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Contractor's website",
            "example": "https://www.abcelectric.com"
          },
          "trenching_required": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether trenching was required for installation",
            "example": false
          },
          "contractor_contact_name": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Name of contractor contact person",
            "example": "Jane Smith"
          },
          "contractor_address_line1": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Contractor's street address",
            "example": "789 Business Blvd"
          },
          "contractor_city": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Contractor's city",
            "example": "Atlanta"
          },
          "contractor_state": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Contractor's state",
            "example": "GA"
          },
          "contractor_zip": {
            "type": "string",
            "maxLength": 20,
            "nullable": true,
            "description": "Contractor's ZIP code",
            "example": "30301"
          },
          "existing_equipment_photos_provided": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether photos of existing equipment were provided"
          },
          "existing_equipment_serial": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Serial number of existing equipment"
          },
          "existing_heating_type": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Type of existing heating system",
            "example": "Gas furnace"
          },
          "device_serial": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Serial number of new device",
            "example": "SN-123456789"
          },
          "louvered_sides": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether device has louvered sides"
          },
          "contractor_fax": {
            "type": "string",
            "nullable": true,
            "description": "Contractor's fax number"
          },
          "coil_make_model": {
            "type": "string",
            "nullable": true,
            "description": "Make and model of coil (for HVAC)"
          },
          "added_by": {
            "type": "string",
            "enum": [
              "organization",
              "customer"
            ],
            "description": "Indicates who added the device record: 'organization' when created via incentives lookup, or 'customer' when added directly by the customer or partner.",
            "example": "organization"
          },
          "device": {
            "type": "object",
            "nullable": true,
            "description": "Device information from the devices catalog (only present when device_id is set)",
            "properties": {
              "model_name": {
                "type": "string",
                "nullable": true,
                "description": "Marketing or product line name for the device",
                "example": "Smart Splitter"
              },
              "manufacturer": {
                "type": "string",
                "nullable": true,
                "description": "Company or brand that manufactures the device",
                "example": "ChargePoint"
              },
              "manufacture_year": {
                "type": "integer",
                "nullable": true,
                "description": "Year the specific unit was manufactured",
                "example": 2024
              },
              "device_category_name": {
                "type": "string",
                "nullable": true,
                "description": "Name of the device category (e.g., EV Charger, HVAC, Water Heater)",
                "example": "EV Charger"
              },
              "device_subcategory": {
                "type": "string",
                "nullable": true,
                "description": "Subcategory of the device (e.g., SPLITTER, LEVEL_2)",
                "example": "SPLITTER"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when record was created",
            "example": "2025-01-10T12:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when record was last updated",
            "example": "2025-01-15T14:30:00Z"
          }
        }
      },
      "OrgApplicationPatchRequest": {
        "type": "object",
        "description": "Request body for updating an application by application ID (organization authentication).\nMatches GET `/applications/{id}` response structure without protected fields.\nAll fields are optional - only include fields you want to modify.\n\n**Protected fields** (cannot be updated): `id`, `customer_id`, `organization_id`, `program_id`, `status`, `created_at`, `updated_at`\n",
        "properties": {
          "rebate_type": {
            "type": "string",
            "nullable": true,
            "description": "Type of rebate being requested"
          },
          "payee_type": {
            "type": "string",
            "enum": [
              "customer",
              "contractor",
              "instant"
            ],
            "nullable": true,
            "description": "Who will receive the rebate payment"
          },
          "submission_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the application was submitted",
            "example": "2025-01-20"
          },
          "approval_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the application was approved",
            "example": "2025-01-25"
          },
          "total_requested_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Total rebate amount being requested. Equal to the sum of upfront_amount + install_amount + ongoing_amount."
          },
          "upfront_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Pre-install upfront incentive amount. Reserved for future use; currently always 0. Part of the itemized breakdown that sums to total_requested_amount."
          },
          "install_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "At-install one-time incentive amount. Part of the itemized breakdown that sums to total_requested_amount."
          },
          "ongoing_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Ongoing incentive amount, per year. Part of the itemized breakdown that sums to total_requested_amount."
          },
          "equipment_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether equipment documentation is complete"
          },
          "permit_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether permit documentation is complete"
          },
          "utility_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether utility documentation is complete"
          },
          "customer_device_id": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "nullable": true,
            "description": "Array of customer device IDs associated with this application"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerPatchRequest",
            "description": "Customer fields to update (optional)"
          },
          "customer_devices": {
            "type": "array",
            "description": "Array of customer devices to update. Each device must include 'id' to identify the device.",
            "items": {
              "$ref": "#/components/schemas/CustomerDevicePatchRequest"
            }
          }
        }
      },
      "CustomerPatchRequest": {
        "type": "object",
        "description": "Customer information to partially update.\nAll fields are optional - only include fields you want to modify.\n",
        "properties": {
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address_line1": {
            "type": "string"
          },
          "address_line2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "eiaid": {
            "type": "string",
            "nullable": true
          },
          "utility_account_number": {
            "type": "string",
            "nullable": true
          },
          "building_type_id": {
            "type": "integer",
            "nullable": true
          },
          "is_homeowner": {
            "type": "boolean"
          },
          "is_income_qualified": {
            "type": "boolean"
          },
          "building_age_years": {
            "type": "integer",
            "nullable": true
          },
[...]
