{
  "openapi": "3.0.3",
  "info": {
    "title": "Leap Energy API",
    "description": "The Leap Energy API provides a unified interface for managing rebate incentives and applications.\n\n## Incentives API\nSearch for and calculate incentive amounts across multiple utility programs. Given a customer\naddress and building type, the API identifies applicable utility programs and calculates potential\nincentive amounts for various device and tier combinations.\n\n## Applications API\nManage rebate applications on behalf of customers. Applications represent a customer's request\nfor a rebate under a specific utility program, including customer information, device details,\nand application metadata.",
    "version": "2.0.0",
    "contact": {
      "name": "Leap Energy",
      "url": "https://leap.energy"
    }
  },
  "servers": [
    {
      "url": "https://api.incentives.leap.energy/alpha",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/applications": {
      "get": {
        "summary": "Search applications",
        "description": "Search and filter applications with optional pagination. Returns a list of applications\nmatching the specified criteria. All results are automatically filtered to applications belonging to your organization.\n\n**Authentication:**\nRequires API key authentication via `x-api-key` header.\n\n**Organization Scoping:**\nResults are automatically filtered by your organization ID. You can only access applications that belong to your organization.\n",
        "operationId": "searchApplications",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "refId",
            "in": "query",
            "description": "Reference ID to filter applications for a specific customer within your organization",
            "required": false,
            "schema": {
              "type": "string",
              "example": "982734ihksjhfwoe8u"
            }
          },
          {
            "name": "application_status",
            "in": "query",
            "description": "Filter by application status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "not_started",
                "in_progress",
                "awaiting_customer",
                "awaiting_partner",
                "completed",
                "submitted",
                "approved",
                "rejected"
              ],
              "example": "awaiting_partner"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Token for pagination to fetch the next page of results",
            "required": false,
            "schema": {
              "type": "string",
              "example": "242c3e24-43e6-4ad7-88b3-666cda21582b"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100,
              "example": 50
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \\\n  \"https://api.incentives.leap.energy/alpha/applications?application_status=awaiting_partner&limit=50\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/applications\"\nparams = {\n    \"application_status\": \"awaiting_partner\",\n    \"limit\": 50\n}\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.get(url, params=params, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/applications?application_status=awaiting_partner&limit=50',\n  {\n    method: 'GET',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    }\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSearchResponse"
                },
                "examples": {
                  "awaiting_partner_applications": {
                    "summary": "Applications awaiting partner data",
                    "value": {
                      "next_page_token": "242c3e24-43e6-4ad7-88b3-666cda21582b",
                      "results": [
                        {
                          "id": 123,
                          "program_id": 339,
                          "customer_id": 609,
                          "customer_device_id": [45, 46],
                          "status": "awaiting_partner",
                          "rebate_type": "instant",
                          "payee_type": "customer",
                          "total_requested_amount": 150.0,
                          "created_at": "2025-01-10T15:30:00Z",
                          "updated_at": "2025-01-15T10:45:00Z",
                          "customer": {
                            "id": 609,
                            "first_name": "John",
                            "last_name": "Doe",
                            "email": "john.doe@example.com",
                            "phone": "555-123-4567",
                            "address_line1": "123 Peachtree St",
                            "city": "Atlanta",
                            "state": "GA",
                            "zip_code": "30303"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Application not in your organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "forbidden",
                  "message": "Application not in your organization",
                  "requestId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/incentives": {
      "post": {
        "summary": "Get aggregated incentives for a customer",
        "description": "Retrieves and aggregates incentive calculations from multiple utility programs\nbased on the customer's address and building type.\n\nThe API automatically:\n1. Creates or finds the customer based on address components\n2. Links the customer to your organization using the `reference_id`\n3. Associates the device with the customer if not already linked\n4. Identifies the utility serving the address\n5. Finds all active programs for that utility and building type\n6. Calls each program's incentive calculation function\n7. Optionally creates application records (if `create_application=true`)\n8. Aggregates and returns the results\n\n**Authentication:** Requires API key via `x-api-key` header.\n\n**Reference ID:** The `reference_id` is required and must be unique per organization. It's used to link customers to your organization and is returned in the response for your records. To update applications later, use the PATCH endpoint with `application_id` (requires API key authentication).\n",
        "operationId": "getAggregatedIncentives",
        "tags": [
          "Incentives"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \\\n  \"https://api.incentives.leap.energy/alpha/incentives\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"operation_type\": \"lookup\",\n    \"reference_id\": \"external-ref-123\",\n    \"address\": {\n      \"street_1\": \"123 Main St\",\n      \"street_2\": \"Apt 4B\",\n      \"city\": \"San Francisco\",\n      \"state_or_province_code\": \"CA\",\n      \"postal_code\": \"94102\",\n      \"country_code\": \"US\"\n    },\n    \"building_type\": \"single_family\",\n    \"device_id\": 42,\n    \"create_application\": true\n  }'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/incentives\"\n\npayload = {\n    \"operation_type\": \"lookup\",\n    \"reference_id\": \"external-ref-123\",\n    \"address\": {\n        \"street_1\": \"123 Main St\",\n        \"street_2\": \"Apt 4B\",\n        \"city\": \"San Francisco\",\n        \"state_or_province_code\": \"CA\",\n        \"postal_code\": \"94102\",\n        \"country_code\": \"US\"\n    },\n    \"building_type\": \"single_family\",\n    \"device_id\": 42,\n    \"create_application\": True\n}\n\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/incentives',\n  {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      operation_type: 'lookup',\n      reference_id: 'external-ref-123',\n      address: {\n        street_1: '123 Main St',\n        street_2: 'Apt 4B',\n        city: 'San Francisco',\n        state_or_province_code: 'CA',\n        postal_code: '94102',\n        country_code: 'US'\n      },\n      building_type: 'single_family',\n      device_id: 42,\n      create_application: true\n    })\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$url = 'https://api.incentives.leap.energy/alpha/incentives';\n\n$payload = [\n    'operation_type' => 'lookup',\n    'reference_id' => 'external-ref-123',\n    'address' => [\n        'street_1' => '123 Main St',\n        'street_2' => 'Apt 4B',\n        'city' => 'San Francisco',\n        'state_or_province_code' => 'CA',\n        'postal_code' => '94102',\n        'country_code' => 'US'\n    ],\n    'building_type' => 'single_family',\n    'device_id' => 42,\n    'create_application' => true\n];\n\n$ch = curl_init($url);\ncurl_setopt($ch, CURLOPT_POST, true);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($payload));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-api-key: leap_live_...',\n    'Content-Type: application/json'\n]);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\ncurl_close($ch);\n\nprint_r(json_decode($response, true));"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.http.*;\nimport java.net.URI;\n\nHttpClient client = HttpClient.newHttpClient();\n\nString json = \"\"\"{\n  \"operation_type\": \"lookup\",\n  \"reference_id\": \"external-ref-123\",\n  \"address\": {\n    \"street_1\": \"123 Main St\",\n    \"street_2\": \"Apt 4B\",\n    \"city\": \"San Francisco\",\n    \"state_or_province_code\": \"CA\",\n    \"postal_code\": \"94102\",\n    \"country_code\": \"US\"\n  },\n  \"building_type\": \"single_family\",\n  \"device_id\": 42,\n  \"create_application\": true\n}\"\"\";\n\nHttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://api.incentives.leap.energy/alpha/incentives\"))\n    .header(\"x-api-key\", \"leap_live_...\")\n    .header(\"Content-Type\", \"application/json\")\n    .POST(HttpRequest.BodyPublishers.ofString(json))\n    .build();\n\nHttpResponse<String> response = client.send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\nrequire 'json'\n\nuri = URI('https://api.incentives.leap.energy/alpha/incentives')\n\npayload = {\n  operation_type: 'lookup',\n  reference_id: 'external-ref-123',\n  address: {\n    street_1: '123 Main St',\n    street_2: 'Apt 4B',\n    city: 'San Francisco',\n    state_or_province_code: 'CA',\n    postal_code: '94102',\n    country_code: 'US'\n  },\n  building_type: 'single_family',\n  device_id: 42,\n  create_application: true\n}\n\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(uri)\nrequest['x-api-key'] = 'leap_live_...'\nrequest['Content-Type'] = 'application/json'\nrequest.body = payload.to_json\n\nresponse = http.request(request)\nputs JSON.parse(response.body)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"net/http\"\n)\n\nfunc main() {\n\turl := \"https://api.incentives.leap.energy/alpha/incentives\"\n\n\tpayload := map[string]interface{}{\n\t\t\"operation_type\": \"lookup\",\n\t\t\"reference_id\":   \"external-ref-123\",\n\t\t\"address\": map[string]interface{}{\n\t\t\t\"street_1\":               \"123 Main St\",\n\t\t\t\"street_2\":               \"Apt 4B\",\n\t\t\t\"city\":                   \"San Francisco\",\n\t\t\t\"state_or_province_code\": \"CA\",\n\t\t\t\"postal_code\":            \"94102\",\n\t\t\t\"country_code\":           \"US\",\n\t\t},\n\t\t\"building_type\":      \"single_family\",\n\t\t\"device_id\":          42,\n\t\t\"create_application\": true,\n\t}\n\n\tjsonData, _ := json.Marshal(payload)\n\treq, _ := http.NewRequest(\"POST\", url, bytes.NewBuffer(jsonData))\n\treq.Header.Set(\"x-api-key\", \"leap_live_...\")\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\tclient := &http.Client{}\n\tresp, _ := client.Do(req)\n\tdefer resp.Body.Close()\n\n\tvar result map[string]interface{}\n\tjson.NewDecoder(resp.Body).Decode(&result)\n\tfmt.Println(result)\n}"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Customer address, building type, and device information for incentive calculation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncentiveRequest"
              },
              "examples": {
                "residential_request": {
                  "summary": "Lookup operation - New incentive calculation",
                  "value": {
                    "operation_type": "lookup",
                    "reference_id": "external-ref-123",
                    "address": {
                      "street_1": "123 Main St",
                      "street_2": "Apt 4B",
                      "city": "San Francisco",
                      "state_or_province_code": "CA",
                      "postal_code": "94102",
                      "country_code": "US"
                    },
                    "building_type": "single_family",
                    "device_id": 42,
                    "create_application": true
                  }
                },
                "refresh_request": {
                  "summary": "Refresh operation - Using cached utilities (faster)",
                  "value": {
                    "operation_type": "refresh",
                    "reference_id": "external-ref-123",
                    "building_type": "single_family",
                    "device_id": 42,
                    "create_application": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with aggregated incentive data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncentiveAggregationResponse"
                },
                "examples": {
                  "successful_calculation": {
                    "summary": "Successful incentive calculation",
                    "value": {
                      "utility": {
                        "eiaid": 12345,
                        "name": "Pacific Gas & Electric"
                      },
                      "address": "123 Main St, Apt 4B, San Francisco, CA 94102",
                      "possible_utilities": [
                        {
                          "eiaid": "12345",
                          "name": "Pacific Gas & Electric"
                        }
                      ],
                      "building_type": "RESIDENTIAL",
                      "customer_id": 789,
                      "programs_evaluated": 3,
                      "incentives": {
                        "total_incentive_amount": 5500,
                        "total_eligible_combinations": 2,
                        "by_program": [
                          {
                            "program_id": 101,
                            "program_name": "Home Upgrade Program",
                            "total_incentive": 3000,
                            "eligible_combinations": 1,
                            "device_tier_results": [
                              {
                                "device_id": 42,
                                "device_name": "Heat Pump",
                                "tier_id": 1,
                                "tier_name": "Standard",
                                "eligible": true,
                                "incentive_amount": 3000,
                                "calculation_details": "Base incentive for heat pump installation",
                                "failed_requirements": [],
                                "ignored_requirements": [],
                                "completed_requirements": [
                                  "Income verification",
                                  "Building type check"
                                ]
                              }
                            ]
                          }
                        ]
                      },
                      "reference_id": "external-ref-123",
                      "connect_url": "https://connect.incentives.leap.energy/your-company/refId/external-ref-123"
                    }
                  },
                  "no_eligible_programs": {
                    "summary": "No eligible programs found",
                    "value": {
                      "utility": {
                        "eiaid": 15248,
                        "name": "Portland General Electric Co"
                      },
                      "address": {
                        "street_1": "100 SW Main St",
                        "street_2": "",
                        "city": "Portland",
                        "state_or_province_code": "OR",
                        "postal_code": "97204",
                        "country_code": "US"
                      },
                      "building_type": "RESIDENTIAL",
                      "customer_id": 789,
                      "programs_evaluated": 0,
                      "incentives": {
                        "total_incentive_amount": 0,
                        "total_eligible_combinations": 0,
                        "by_program": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_parameters": {
                    "summary": "Missing required fields",
                    "value": {
                      "error": "Missing required fields: address (street_1, city, state_or_province_code, postal_code, country_code), building_type, and device_id"
                    }
                  },
                  "invalid_json": {
                    "summary": "Invalid JSON body",
                    "value": {
                      "error": "Invalid or empty JSON body"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Authorization header required"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Method not allowed"
                }
              }
            }
          },
          "404": {
            "description": "No utility found for the provided address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "no_utility_found": {
                    "summary": "No utility found",
                    "value": {
                      "error": "Program lookup failed - no utility found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "program_lookup_failed": {
                    "summary": "Program lookup service failed",
                    "value": {
                      "error": "Failed to fetch program lookup data"
                    }
                  },
                  "customer_creation_failed": {
                    "summary": "Failed to create customer",
                    "value": {
                      "error": "Failed to create customer. Required fields: address_line1, city, state, zip_code are all provided."
                    }
                  },
                  "device_creation_failed": {
                    "summary": "Failed to create customer device",
                    "value": {
                      "error": "Failed to create customer device. Required fields: customer_id, device_id are all provided."
                    }
                  },
                  "internal_error": {
                    "summary": "Generic internal error",
                    "value": {
                      "error": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{application_id}": {
      "get": {
        "summary": "Get an application by ID",
        "description": "Retrieves a complete application including customer information and all associated\ncustomer devices. The response includes nested customer and device data.\n\n**Authentication:**\nRequires API key authentication via `x-api-key` header.\n\n**Organization Verification:**\nThe application must belong to your organization. Returns 403 Forbidden if the application belongs to a different organization.\n",
        "operationId": "getApplication",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Unique identifier for the application",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 123
            }
          },
          {
            "name": "refId",
            "in": "query",
            "description": "Reference ID to verify the application belongs to a specific customer within your organization",
            "required": false,
            "schema": {
              "type": "string",
              "example": "982734ihksjhfwoe8u"
            }
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X GET \\\n  \"https://api.incentives.leap.energy/alpha/applications/123\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/applications/123\"\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/applications/123',\n  {\n    method: 'GET',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    }\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                },
                "example": {
                  "id": 123,
                  "program_id": 339,
                  "customer_id": 609,
                  "customer_device_id": [45, 46],
                  "status": "in_progress",
                  "rebate_type": "instant",
                  "payee_type": "customer",
                  "total_requested_amount": 150.0,
                  "agree_terms": true,
                  "customer_signature": true,
                  "customer_sig_date": "2025-01-15",
                  "project_name": "EV Charger Installation",
                  "created_at": "2025-01-10T15:30:00Z",
                  "updated_at": "2025-01-15T10:45:00Z",
                  "customer": {
                    "id": 609,
                    "first_name": "John",
                    "last_name": "Doe",
                    "email": "john.doe@example.com",
                    "phone": "555-123-4567",
                    "address_line1": "123 Peachtree St",
                    "address_line2": "Apt 4B",
                    "city": "Atlanta",
                    "state": "GA",
                    "zip_code": "30303",
                    "eiaid": "14354",
                    "utility_account_number": "ACC-123456789",
                    "is_homeowner": true,
                    "building_age_years": 25,
                    "household_size": 4,
                    "customer_devices": [
                      {
                        "id": 45,
                        "customer_id": 609,
                        "device_id": 240,
                        "quantity": 1,
                        "purchase_price": 599.99,
                        "installation_cost": 450.0,
                        "total_project_cost": 1049.99,
                        "purchase_date": "2025-01-05",
                        "installation_date": "2025-01-10",
                        "contractor_name": "ABC Electric",
                        "contractor_license": "EC-12345",
                        "permits_obtained": true,
                        "inspection_passed": true,
                        "vehicle_make": "Tesla",
                        "vehicle_model": "Model 3",
                        "vehicle_year": 2023,
                        "created_at": "2025-01-10T12:00:00Z",
                        "updated_at": "2025-01-15T14:30:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Application not in your organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "forbidden",
                  "message": "Application not in your organization",
                  "requestId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "summary": "Update application by application ID",
        "description": "Updates an application identified by application ID. Supports updating application fields, customer information, and customer devices.\n\n**Authentication:**\nRequires API key authentication via `x-api-key` header. The application must belong to your organization.\n\n**Application ID:**\nUse the `application_id` path parameter to identify which application to update. The API verifies the application belongs to your organization.\n\n**Request Structure:**\nMatches the GET `/applications/{id}` response structure (without protected fields):\n- Application fields at top level (e.g., `rebate_type`, `approval_date`)\n- `customer` (optional): Customer fields to update\n- `customer_devices` (optional): Array of devices to update (must include `id`)\n\n**Protected Fields:**\nThe following fields cannot be updated: `id`, `customer_id`, `organization_id`, `program_id`, `status`, `created_at`, `updated_at`\n\n**Dry Run:**\nSet `dryRun=true` as a query parameter to validate the request without applying changes.\n\n**Partial Update Behavior:**\n- Only include fields you want to change\n- Omitted fields will keep their current values\n- Set a field to `null` to clear its value (where nullable)\n\n**Customer Devices:**\n- Must include `id` (required) to identify the device\n- Missing `id` will return 400 Bad Request with error code `invalid_body`\n\n**Status Field:**\nThe `status` field is read-only for organizations and cannot be updated through this endpoint.\n\nAll updates are transactional - if any part fails, the entire operation is rolled back.\n",
        "operationId": "patchApplicationById",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "Application ID to update. The application must belong to your organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "name": "dryRun",
            "in": "query",
            "description": "If true, validates the request without applying changes",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Application update request. See schema for details.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrgApplicationPatchRequest"
              },
              "examples": {
                "application_and_customer": {
                  "summary": "Update application and customer",
                  "value": {
                    "approval_date": "2025-01-25",
                    "customer": {
                      "email": "newemail@example.com",
                      "phone": "+15559876543"
                    }
                  }
                },
                "application_only": {
                  "summary": "Update application only",
                  "value": {
                    "submission_date": "2025-01-20"
                  }
                },
                "customer_and_devices": {
                  "summary": "Update customer and devices",
                  "value": {
                    "customer": {
                      "email": "updated@example.com"
                    },
                    "customer_devices": [
                      {
                        "id": 78,
                        "inspection_passed": true,
                        "permit_number": "PERMIT-2025-001"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated application(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "requestId": {
                      "type": "string",
                      "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    },
                    "application_id": {
                      "type": "integer",
                      "example": 123
                    },
                    "customer_id": {
                      "type": "integer",
                      "example": 456
                    },
                    "mutations": {
                      "type": "object",
                      "description": "Details about what was updated",
                      "properties": {
                        "application": {
                          "type": "object",
                          "properties": {
                            "updated": {
                              "type": "boolean"
                            },
                            "fields": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "customer": {
                          "type": "object",
                          "properties": {
                            "updated": {
                              "type": "boolean"
                            },
                            "fields": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "customer_devices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "action": {
                                "type": "string"
                              },
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "description": "Complete snapshot matching GET `/applications/{id}` response structure",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Application"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "customer": {
                              "$ref": "#/components/schemas/Customer"
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "successful_update": {
                    "summary": "Successful update",
                    "value": {
                      "ok": true,
                      "requestId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "application_id": 123,
                      "customer_id": 456,
                      "mutations": {
                        "application": {
                          "updated": true,
                          "fields": ["status", "approval_date"]
                        },
                        "customer": {
                          "updated": true,
                          "fields": ["email"]
                        }
                      },
                      "data": {
                        "id": 123,
                        "program_id": 45,
                        "customer_id": 456,
                        "organization_id": "550e8400-e29b-41d4-a716-446655440000",
                        "status": "approved",
                        "approval_date": "2025-01-25",
                        "submission_date": "2025-01-15",
                        "created_at": "2025-01-10T10:00:00Z",
                        "updated_at": "2025-01-25T16:45:00Z",
                        "customer": {
                          "id": 456,
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "email": "newemail@example.com",
                          "customer_devices": [
                            {
                              "id": 10,
                              "customer_id": 456,
                              "device_id": 5,
                              "quantity": 1
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Application not in your organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X PATCH \\\n  \"https://api.incentives.leap.energy/alpha/applications/123\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"approval_date\": \"2025-01-25\",\n    \"customer\": {\n      \"email\": \"newemail@example.com\"\n    }\n  }'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/applications/123\"\n\npayload = {\n    \"approval_date\": \"2025-01-25\",\n    \"customer\": {\n        \"email\": \"newemail@example.com\"\n    }\n}\n\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.patch(url, json=payload, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/applications/123',\n  {\n    method: 'PATCH',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      approval_date: '2025-01-25',\n      customer: {\n        email: 'newemail@example.com'\n      }\n    })\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "node",
            "label": "Node.js",
            "source": "const axios = require('axios');\n\nconst url = 'https://api.incentives.leap.energy/alpha/applications/123';\n\nconst payload = {\n  approval_date: '2025-01-25',\n  customer: {\n    email: 'newemail@example.com'\n  }\n};\n\nconst response = await axios.patch(url, payload, {\n  headers: {\n    'x-api-key': 'leap_live_...',\n    'Content-Type': 'application/json'\n  }\n});\n\nconsole.log(response.data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$url = 'https://api.incentives.leap.energy/alpha/applications/123';\n\n$payload = [\n    'approval_date' => '2025-01-25',\n    'customer' => [\n        'email' => 'newemail@example.com'\n    ]\n];\n\n$ch = curl_init($url);\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, 'PATCH');\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($payload));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-api-key: leap_live_...',\n    'Content-Type: application/json'\n]);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\ncurl_close($ch);\n\nprint_r(json_decode($response, true));"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.http.*;\nimport java.net.URI;\n\nHttpClient client = HttpClient.newHttpClient();\n\nString json = \"\"\"{\n  \"approval_date\": \"2025-01-25\",\n  \"customer\": {\n    \"email\": \"newemail@example.com\"\n  }\n}\"\"\";\n\nHttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://api.incentives.leap.energy/alpha/applications/123\"))\n    .header(\"x-api-key\", \"leap_live_...\")\n    .header(\"Content-Type\", \"application/json\")\n    .method(\"PATCH\", HttpRequest.BodyPublishers.ofString(json))\n    .build();\n\nHttpResponse<String> response = client.send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\nrequire 'json'\n\nuri = URI('https://api.incentives.leap.energy/alpha/applications/123')\n\npayload = {\n  approval_date: '2025-01-25',\n  customer: {\n    email: 'newemail@example.com'\n  }\n}\n\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Patch.new(uri)\nrequest['x-api-key'] = 'leap_live_...'\nrequest['Content-Type'] = 'application/json'\nrequest.body = payload.to_json\n\nresponse = http.request(request)\nputs JSON.parse(response.body)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"net/http\"\n)\n\nfunc main() {\n\turl := \"https://api.incentives.leap.energy/alpha/applications/123\"\n\n\tpayload := map[string]interface{}{\n\t\t\"approval_date\": \"2025-01-25\",\n\t\t\"customer\": map[string]interface{}{\n\t\t\t\"email\": \"newemail@example.com\",\n\t\t},\n\t}\n\n\tjsonData, _ := json.Marshal(payload)\n\treq, _ := http.NewRequest(\"PATCH\", url, bytes.NewBuffer(jsonData))\n\treq.Header.Set(\"x-api-key\", \"leap_live_...\")\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\tclient := &http.Client{}\n\tresp, _ := client.Do(req)\n\tdefer resp.Body.Close()\n\n\tvar result map[string]interface{}\n\tjson.NewDecoder(resp.Body).Decode(&result)\n\tfmt.Println(result)\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using System;\nusing System.Net.Http;\nusing System.Text;\nusing System.Text.Json;\nusing System.Threading.Tasks;\n\nvar client = new HttpClient();\nvar url = \"https://api.incentives.leap.energy/alpha/applications/123\";\n\nvar payload = new {\n    approval_date = \"2025-01-25\",\n    customer = new {\n        email = \"newemail@example.com\"\n    }\n};\n\nvar content = new StringContent(\n    JsonSerializer.Serialize(payload),\n    Encoding.UTF8,\n    \"application/json\"\n);\n\nvar request = new HttpRequestMessage(new HttpMethod(\"PATCH\"), url) {\n    Content = content\n};\nrequest.Headers.Add(\"x-api-key\", \"leap_live_...\");\n\nvar response = await client.SendAsync(request);\nvar result = await response.Content.ReadAsStringAsync();\nConsole.WriteLine(result);"
          }
        ]
      }
    },
    "/applications/attachments": {
      "get": {
        "summary": "List attachments",
        "description": "List attachments for one or more applications.\n\n**Authentication:**\nRequires API key authentication via `x-api-key` header. The application must belong to your organization.\n\n**Query Parameters:**\n- Use `application_id` for a single application (requires `attachment_type`)\n- Use `application_ids` for bulk listing (comma-separated, `attachment_type` is optional)",
        "operationId": "listAttachments",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "query",
            "description": "Application ID to list attachments for. Requires attachment_type parameter.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "name": "application_ids",
            "in": "query",
            "description": "Comma-separated list of application IDs for bulk listing. attachment_type is optional.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "123,456,789"
          },
          {
            "name": "attachment_type",
            "in": "query",
            "description": "Filter by attachment type. Required when using application_id.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "INVOICE_EQUIPMENT",
                "INVOICE_INSTALL",
                "PERMIT",
                "PHOTO_NAMEPLATE",
                "PHOTO_INSTALL",
                "PHOTO_METER",
                "AHRI_CERT",
                "NEAT_REPORT",
                "INCOME_FORM",
                "W9",
                "OTHER"
              ]
            },
            "example": "INVOICE_EQUIPMENT"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create signed upload URL for attachment",
        "description": "Creates a signed upload URL for uploading an attachment to the application. After receiving the signed URL, upload the file using a PUT request, then commit using the commit endpoint.\n\n**Authentication:**\nRequires API key authentication via `x-api-key` header. The application must belong to your organization.\n\n**Application ID:**\nUse the `application_id` query parameter to identify which application to attach the file to. The API verifies the application belongs to your organization.",
        "operationId": "createAttachmentUploadUrl",
        "tags": [
          "Applications"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \\\n  \"https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"attachment_type\": \"INVOICE_EQUIPMENT\",\n    \"filename\": \"invoice.pdf\",\n    \"contentType\": \"application/pdf\"\n  }'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123\"\n\npayload = {\n    \"attachment_type\": \"INVOICE_EQUIPMENT\",\n    \"filename\": \"invoice.pdf\",\n    \"contentType\": \"application/pdf\"\n}\n\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123',\n  {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      attachment_type: 'INVOICE_EQUIPMENT',\n      filename: 'invoice.pdf',\n      contentType: 'application/pdf'\n    })\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$url = 'https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123';\n\n$payload = [\n    'attachment_type' => 'INVOICE_EQUIPMENT',\n    'filename' => 'invoice.pdf',\n    'contentType' => 'application/pdf'\n];\n\n$ch = curl_init($url);\ncurl_setopt($ch, CURLOPT_POST, true);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($payload));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-api-key: leap_live_...',\n    'Content-Type: application/json'\n]);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\ncurl_close($ch);\n\nprint_r(json_decode($response, true));"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.http.*;\nimport java.net.URI;\n\nHttpClient client = HttpClient.newHttpClient();\n\nString json = \"\"\"{\n  \"attachment_type\": \"INVOICE_EQUIPMENT\",\n  \"filename\": \"invoice.pdf\",\n  \"contentType\": \"application/pdf\"\n}\"\"\";\n\nHttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123\"))\n    .header(\"x-api-key\", \"leap_live_...\")\n    .header(\"Content-Type\", \"application/json\")\n    .POST(HttpRequest.BodyPublishers.ofString(json))\n    .build();\n\nHttpResponse<String> response = client.send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\nrequire 'json'\n\nuri = URI('https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123')\n\npayload = {\n  attachment_type: 'INVOICE_EQUIPMENT',\n  filename: 'invoice.pdf',\n  contentType: 'application/pdf'\n}\n\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(uri)\nrequest['x-api-key'] = 'leap_live_...'\nrequest['Content-Type'] = 'application/json'\nrequest.body = payload.to_json\n\nresponse = http.request(request)\nputs JSON.parse(response.body)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"net/http\"\n)\n\nfunc main() {\n\turl := \"https://api.incentives.leap.energy/alpha/applications/attachments?application_id=123\"\n\n\tpayload := map[string]interface{}{\n\t\t\"attachment_type\": \"INVOICE_EQUIPMENT\",\n\t\t\"filename\":        \"invoice.pdf\",\n\t\t\"contentType\":     \"application/pdf\",\n\t}\n\n\tjsonData, _ := json.Marshal(payload)\n\treq, _ := http.NewRequest(\"POST\", url, bytes.NewBuffer(jsonData))\n\treq.Header.Set(\"x-api-key\", \"leap_live_...\")\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\tclient := &http.Client{}\n\tresp, _ := client.Do(req)\n\tdefer resp.Body.Close()\n\n\tvar result map[string]interface{}\n\tjson.NewDecoder(resp.Body).Decode(&result)\n\tfmt.Println(result)\n}"
          }
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "query",
            "description": "Application ID to attach the file to. The application must belong to your organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
              "example": 123
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Attachment metadata for creating the upload URL. Note: `application_id` comes from query parameter, not body.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "attachment_type",
                  "filename",
                  "contentType"
                ],
                "properties": {
                  "attachment_type": {
                    "type": "string",
                    "enum": [
                      "INVOICE_EQUIPMENT",
                      "INVOICE_INSTALL",
                      "PERMIT",
                      "PHOTO_NAMEPLATE",
                      "PHOTO_INSTALL",
                      "PHOTO_METER",
                      "AHRI_CERT",
                      "NEAT_REPORT",
                      "INCOME_FORM",
                      "W9",
                      "OTHER"
                    ],
                    "description": "Type of attachment being uploaded",
                    "example": "INVOICE_EQUIPMENT"
                  },
                  "filename": {
                    "type": "string",
                    "description": "Name of the file being uploaded",
                    "example": "invoice.pdf"
                  },
                  "contentType": {
                    "type": "string",
                    "description": "MIME type of the file",
                    "example": "application/pdf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created upload URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "requestId": {
                      "type": "string",
                      "example": "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                    },
                    "uploadUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed URL for uploading the file (PUT file bytes here)",
                      "example": "https://your-project.supabase.co/storage/v1/object/sign/attachments/app-123/uuid-invoice.pdf?token=..."
                    },
                    "path": {
                      "type": "string",
                      "description": "Object path to use in commit step",
                      "example": "app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf"
                    },
                    "bucket": {
                      "type": "string",
                      "example": "attachments"
                    },
                    "instructions": {
                      "type": "string",
                      "example": "PUT bytes to uploadUrl with the file content-type, then call POST /applications/attachments/commit to finalize."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applications/attachments/{id}/download": {
      "get": {
        "summary": "Download attachment",
        "description": "Get a signed download URL for an attachment. The URL is valid for 1 hour.\n\n**Authentication:**\nRequires API key authentication via `x-api-key` header. The application must belong to your organization.\n\nThe signed URL is valid for 1 hour. The response includes three fields (`downloadUrl`, `url`, `file_url`) all containing the same URL for compatibility.",
        "operationId": "downloadAttachment",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Attachment ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 456
          },
          {
            "name": "application_id",
            "in": "query",
            "description": "Application ID that the attachment belongs to.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved download URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed download URL (valid for 1 hour)",
                      "example": "https://your-project.supabase.co/storage/v1/object/sign/attachments/app-123/uuid-invoice.pdf?token=..."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed download URL (same as downloadUrl, for compatibility)",
                      "example": "https://your-project.supabase.co/storage/v1/object/sign/attachments/app-123/uuid-invoice.pdf?token=..."
                    },
                    "file_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed download URL (same as downloadUrl, for compatibility)",
                      "example": "https://your-project.supabase.co/storage/v1/object/sign/attachments/app-123/uuid-invoice.pdf?token=..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "Attachment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applications/attachments/{id}": {
      "delete": {
        "summary": "Delete attachment",
        "description": "Delete an attachment from storage and remove the database record.\n\n**Authentication:**\nRequires API key authentication via `x-api-key` header. The application must belong to your organization.\n\n**Warning:**\nThis operation is **permanent** and cannot be undone. The file will be deleted from storage and the database record will be removed.",
        "operationId": "deleteAttachment",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Attachment ID to delete",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 456
          },
          {
            "name": "application_id",
            "in": "query",
            "description": "Application ID that the attachment belongs to.",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 123
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted attachment",
            "content": {}
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "Attachment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/applications/attachments/commit": {
      "post": {
        "summary": "Commit uploaded attachment",
        "description": "Commits an attachment after the file has been successfully uploaded to the signed URL from the create endpoint.\n\n**Authentication:**\nRequires API key authentication via `x-api-key` header. The application must belong to your organization.\n\n**Application ID:**\nUse the `application_id` query parameter to identify which application the attachment belongs to. The API verifies the application belongs to your organization.\n\n**Path Format:**\nFor organization authentication, the path should use the `app-{application_id}/` prefix format (e.g., `app-123/uuid-filename.pdf`).",
        "operationId": "commitAttachment",
        "tags": [
          "Applications"
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \\\n  \"https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123\" \\\n  -H \"x-api-key: leap_live_...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"attachment_type\": \"INVOICE_EQUIPMENT\",\n    \"path\": \"app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf\",\n    \"makePublic\": true\n  }'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123\"\n\npayload = {\n    \"attachment_type\": \"INVOICE_EQUIPMENT\",\n    \"path\": \"app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf\",\n    \"makePublic\": True\n}\n\nheaders = {\n    \"x-api-key\": \"leap_live_...\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\nprint(response.json())"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch(\n  'https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123',\n  {\n    method: 'POST',\n    headers: {\n      'x-api-key': 'leap_live_...',\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      attachment_type: 'INVOICE_EQUIPMENT',\n      path: 'app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf',\n      makePublic: true\n    })\n  }\n);\n\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\n$url = 'https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123';\n\n$payload = [\n    'attachment_type' => 'INVOICE_EQUIPMENT',\n    'path' => 'app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf',\n    'makePublic' => true\n];\n\n$ch = curl_init($url);\ncurl_setopt($ch, CURLOPT_POST, true);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($payload));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n    'x-api-key: leap_live_...',\n    'Content-Type: application/json'\n]);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$response = curl_exec($ch);\ncurl_close($ch);\n\nprint_r(json_decode($response, true));"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "import java.net.http.*;\nimport java.net.URI;\n\nHttpClient client = HttpClient.newHttpClient();\n\nString json = \"\"\"{\n  \"attachment_type\": \"INVOICE_EQUIPMENT\",\n  \"path\": \"app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf\",\n  \"makePublic\": true\n}\"\"\";\n\nHttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123\"))\n    .header(\"x-api-key\", \"leap_live_...\")\n    .header(\"Content-Type\", \"application/json\")\n    .POST(HttpRequest.BodyPublishers.ofString(json))\n    .build();\n\nHttpResponse<String> response = client.send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "ruby",
            "label": "Ruby",
            "source": "require 'net/http'\nrequire 'json'\n\nuri = URI('https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123')\n\npayload = {\n  attachment_type: 'INVOICE_EQUIPMENT',\n  path: 'app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf',\n  makePublic: true\n}\n\nhttp = Net::HTTP.new(uri.host, uri.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(uri)\nrequest['x-api-key'] = 'leap_live_...'\nrequest['Content-Type'] = 'application/json'\nrequest.body = payload.to_json\n\nresponse = http.request(request)\nputs JSON.parse(response.body)"
          },
          {
            "lang": "go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"net/http\"\n)\n\nfunc main() {\n\turl := \"https://api.incentives.leap.energy/alpha/applications/attachments/commit?application_id=123\"\n\n\tpayload := map[string]interface{}{\n\t\t\"attachment_type\": \"INVOICE_EQUIPMENT\",\n\t\t\"path\":            \"app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf\",\n\t\t\"makePublic\":      true,\n\t}\n\n\tjsonData, _ := json.Marshal(payload)\n\treq, _ := http.NewRequest(\"POST\", url, bytes.NewBuffer(jsonData))\n\treq.Header.Set(\"x-api-key\", \"leap_live_...\")\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\n\tclient := &http.Client{}\n\tresp, _ := client.Do(req)\n\tdefer resp.Body.Close()\n\n\tvar result map[string]interface{}\n\tjson.NewDecoder(resp.Body).Decode(&result)\n\tfmt.Println(result)\n}"
          }
        ],
        "parameters": [
          {
            "name": "application_id",
            "in": "query",
            "description": "Application ID that the attachment belongs to. The application must belong to your organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Attachment commit request. Note: `application_id` comes from query parameter, not body.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "attachment_type",
                  "path"
                ],
                "properties": {
                  "attachment_type": {
                    "type": "string",
                    "enum": [
                      "INVOICE_EQUIPMENT",
                      "INVOICE_INSTALL",
                      "PERMIT",
                      "PHOTO_NAMEPLATE",
                      "PHOTO_INSTALL",
                      "PHOTO_METER",
                      "AHRI_CERT",
                      "NEAT_REPORT",
                      "INCOME_FORM",
                      "W9",
                      "OTHER"
                    ],
                    "description": "Type of attachment",
                    "example": "INVOICE_EQUIPMENT"
                  },
                  "path": {
                    "type": "string",
                    "description": "Object path returned from the create step (uses `app-{application_id}/` prefix)",
                    "example": "app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf"
                  },
                  "makePublic": {
                    "type": "boolean",
                    "description": "If true, generates a public URL (default: false)",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully committed attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "requestId": {
                      "type": "string",
                      "example": "c3d4e5f6-a7b8-9012-cdef-123456789012"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Database record ID of the attachment",
                      "example": 789
                    },
                    "file_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Storage URL (`storage://...` or public HTTP URL if `makePublic=true`)",
                      "example": "https://your-project.supabase.co/storage/v1/object/public/attachments/app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf"
                    },
                    "bucket": {
                      "type": "string",
                      "example": "attachments"
                    },
                    "path": {
                      "type": "string",
                      "description": "Object path",
                      "example": "app-123/a1b2c3d4-e5f6-7890-abcd-ef1234567890-invoice.pdf"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Application not in your organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Application not found or object not found (upload may have failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication. Include your Leap API key in the `x-api-key` header: `x-api-key: leap_live_...`\n"
      }
    },
    "schemas": {
      "CustomerSearchResult": {
        "type": "object",
        "description": "Truncated customer information returned in search results",
        "required": [
          "id",
          "address_line1",
          "city",
          "state",
          "zip_code"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the customer",
            "example": 456
          },
          "first_name": {
            "type": "string",
            "nullable": true,
            "description": "Customer's first name",
            "example": "Jane"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "Customer's last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Customer's email address",
            "example": "jane.doe@example.com"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Customer's phone number",
            "example": "+15551234567"
          },
          "address_line1": {
            "type": "string",
            "description": "Street address line 1",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City",
            "example": "San Francisco"
          },
          "state": {
            "type": "string",
            "description": "State code (2 letters)",
            "example": "CA"
          },
          "zip_code": {
            "type": "string",
            "description": "ZIP code",
            "example": "94102"
          }
        }
      },
      "ApplicationSearchResult": {
        "type": "object",
        "description": "Truncated application information returned in search results",
        "required": [
          "id",
          "program_id",
          "customer_id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the application",
            "example": 123
          },
          "program_id": {
            "type": "integer",
            "description": "ID of the rebate program this application is for",
            "example": 45
          },
          "customer_id": {
            "type": "integer",
            "description": "ID of the customer who owns this application",
            "example": 456
          },
          "organization_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Organization ID",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "customer_device_id": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of customer device IDs associated with this application",
            "example": [
              10,
              11
            ]
          },
          "rebate_type": {
            "type": "string",
            "nullable": true,
            "description": "Type of rebate being requested",
            "example": "point_of_sale"
          },
          "payee_type": {
            "type": "string",
            "enum": [
              "customer",
              "contractor",
              "instant"
            ],
            "nullable": true,
            "description": "Who will receive the rebate payment",
            "example": "customer"
          },
          "submission_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the application was submitted",
            "example": "2025-01-15"
          },
          "approval_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the application was approved",
            "example": "2025-01-20"
          },
          "total_requested_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Total rebate amount being requested",
            "example": 1500.0
          },
          "status": {
            "type": "string",
            "enum": [
              "not_started",
              "in_progress",
              "awaiting_customer",
              "awaiting_partner",
              "completed",
              "submitted",
              "approved",
              "rejected"
            ],
            "default": "not_started",
            "description": "Current status of the application",
            "example": "submitted"
          },
          "equipment_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether all equipment documentation is complete"
          },
          "permit_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether all permit documentation is complete"
          },
          "utility_complete": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether all utility documentation is complete"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when application was created",
            "example": "2025-01-10T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when application was last updated",
            "example": "2025-01-15T14:30:00Z"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerSearchResult"
          }
        }
      },
      "ApplicationSearchResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "next_page_token": {
            "type": "string",
            "nullable": true,
            "description": "Token to fetch the next page of results. Null if no more pages available.",
            "example": "242c3e24-43e6-4ad7-88b3-666cda21582b"
          },
          "results": {
            "type": "array",
            "description": "Array of applications matching the search criteria",
            "items": {
              "$ref": "#/components/schemas/ApplicationSearchResult"
            }
          }
        }
      },
      "IncentiveRequest": {
        "type": "object",
        "required": [
          "operation_type",
          "reference_id",
          "building_type",
          "device_id"
        ],
        "properties": {
          "operation_type": {
            "type": "string",
            "description": "Operation type: 'lookup' for new calculations with geocoding, 'refresh' for using cached utility data (faster)",
            "enum": [
              "lookup",
              "refresh"
            ],
            "example": "lookup"
          },
          "reference_id": {
            "type": "string",
            "description": "Your internal reference ID for tracking this customer within your organization (unique per organization)",
            "example": "external-ref-123"
          },
          "address": {
            "type": "object",
            "description": "Customer's address information. Required for 'lookup' operation, optional for 'refresh' operation (uses stored address if not provided)",
            "required": [
              "street_1",
              "city",
              "state_or_province_code",
              "postal_code",
              "country_code"
            ],
            "properties": {
              "street_1": {
                "type": "string",
                "description": "Street address line 1 (primary street address)",
                "example": "123 Main St"
              },
              "street_2": {
                "type": "string",
                "description": "Street address line 2 (apartment, suite, unit, etc.). Optional.",
                "example": "Apt 4B"
              },
              "city": {
                "type": "string",
                "description": "City name",
                "example": "San Francisco"
              },
              "state_or_province_code": {
                "type": "string",
                "description": "State or province code (2-letter abbreviation)",
                "example": "CA"
              },
              "postal_code": {
                "type": "string",
                "description": "Postal/ZIP code",
                "example": "94102"
              },
              "country_code": {
                "type": "string",
                "description": "Country code (2-letter ISO code)",
                "example": "US"
              }
            }
          },
          "building_type": {
            "type": "string",
            "description": "Type of building for which to calculate incentives",
            "enum": [
              "RESIDENTIAL",
              "MULTIFAMILY",
              "MANUFACTURED_HOME",
              "COMMERCIAL"
            ],
            "example": "RESIDENTIAL"
          },
          "device_id": {
            "type": "integer",
            "description": "ID of the device for which to calculate incentives",
            "example": 42
          },
          "create_application": {
            "type": "boolean",
            "description": "Whether to create/update application records and return a connect_url",
            "example": true
          }
        }
      },
      "IncentiveAggregationResponse": {
        "type": "object",
        "required": [
          "utility",
          "possible_utilities",
          "address",
          "building_type",
          "customer_id",
          "reference_id",
          "programs_evaluated",
          "incentives"
        ],
        "properties": {
          "utility": {
            "type": "object",
            "description": "Information about the utility serving the address",
            "required": [
              "eiaid",
              "name"
            ],
            "properties": {
              "eiaid": {
                "type": "integer",
                "description": "EIA utility identification number",
                "example": 14354
              },
              "name": {
                "type": "string",
                "description": "Name of the utility company",
                "example": "PacifiCorp (Oregon)"
              }
            }
          },
          "address": {
            "type": "object",
            "description": "Address object returned from the utility lookup",
            "properties": {
              "street_1": {
                "type": "string",
                "example": "456 Main St"
              },
              "street_2": {
                "type": "string",
                "example": "Apt 2B"
              },
              "city": {
                "type": "string",
                "example": "Bend"
              },
              "state_or_province_code": {
                "type": "string",
                "example": "OR"
              },
              "postal_code": {
                "type": "string",
                "example": "97701"
              },
              "country_code": {
                "type": "string",
                "example": "US"
              }
            }
          },
          "possible_utilities": {
            "type": "array",
            "description": "List of possible utilities that could serve this address",
            "items": {
            "type": "object",
            "properties": {
                "eiaid": {
                "type": "string",
                  "description": "EIA utility identification number",
                  "example": "14354"
              },
                "name": {
                "type": "string",
                  "description": "Name of the utility company",
                  "example": "PacifiCorp (Oregon)"
                }
              }
            }
          },
          "building_type": {
            "type": "string",
            "description": "The building type that was queried",
            "enum": [
              "RESIDENTIAL",
              "MULTIFAMILY",
              "MANUFACTURED_HOME",
              "COMMERCIAL"
            ],
            "example": "RESIDENTIAL"
          },
          "customer_id": {
            "type": "integer",
            "description": "The customer ID (created or found based on address)",
            "example": 453
          },
          "reference_id": {
            "type": "string",
            "description": "Your internal reference ID that was provided in the request",
            "example": "ref-abc123"
          },
          "connect_url": {
            "type": "string",
            "description": "URL to connect/apply for incentives (only returned if create_application=true)",
            "example": "https://connect.leap.energy?refId=ref-abc123"
          },
          "programs_evaluated": {
            "type": "integer",
            "description": "Number of programs that were evaluated",
            "example": 2
          },
          "incentives": {
            "type": "object",
            "required": [
              "total_incentive_amount",
              "total_eligible_combinations",
              "by_program"
            ],
            "properties": {
              "total_incentive_amount": {
                "type": "number",
                "format": "float",
                "description": "Total incentive amount across all programs (in USD)",
                "example": 2250.0
              },
              "total_eligible_combinations": {
                "type": "integer",
                "description": "Total number of eligible device-tier combinations across all programs",
                "example": 4
              },
              "by_program": {
                "type": "array",
                "description": "Breakdown of incentives by individual program",
                "items": {
                  "$ref": "#/components/schemas/ProgramIncentive"
                }
              }
            }
          }
        }
      },
      "ProgramIncentive": {
        "type": "object",
        "required": [
          "program_id",
          "program_name",
          "total_incentive",
          "eligible_combinations",
          "device_tier_results"
        ],
        "properties": {
          "program_id": {
            "type": "integer",
            "description": "Unique identifier for the program",
            "example": 838
          },
          "program_name": {
            "type": "string",
            "description": "Name of the incentive program",
            "example": "Pacific Power \u2013 Oregon \"Charge at Home\" EV Charger Rebate"
          },
          "total_incentive": {
            "type": "number",
            "format": "float",
            "description": "Total incentive amount for this program (in USD)",
            "example": 2250.0
          },
          "eligible_combinations": {
            "type": "integer",
            "description": "Number of eligible device-tier combinations for this program",
            "example": 4
          },
          "device_tier_results": {
            "type": "array",
            "description": "Detailed results for each device-tier combination",
            "items": {
              "$ref": "#/components/schemas/DeviceTierResult"
            }
          }
        }
      },
      "DeviceTierResult": {
        "type": "object",
        "required": [
          "device_id",
          "device_name",
          "tier_id",
          "tier_name",
          "eligible",
          "incentive_amount",
          "failed_requirements",
          "ignored_requirements"
        ],
        "properties": {
          "device_id": {
            "type": "integer",
            "description": "Unique identifier for the device type",
            "example": 123
          },
          "device_name": {
            "type": "string",
            "description": "Name of the device type",
            "example": "Level 2 EV Charger"
          },
          "tier_id": {
            "type": "integer",
            "description": "Unique identifier for the incentive tier",
            "example": 456
          },
          "tier_name": {
            "type": "string",
            "description": "Name of the incentive tier",
            "example": "Standard Rebate"
          },
          "eligible": {
            "type": "boolean",
            "description": "Whether this device-tier combination is eligible for the customer.\nTrue if all eligibility checks passed and incentive amount > 0.\n",
            "example": true
          },
          "incentive_amount": {
            "type": "number",
            "format": "float",
            "description": "Incentive amount for this device-tier combination (in USD)",
            "example": 750.0
          },
          "calculation_details": {
            "type": "string",
            "description": "Details about how the incentive was calculated",
            "example": "Fixed rebate per device: $750"
          },
          "failed_requirements": {
            "type": "array",
            "description": "List of eligibility requirements that failed for this combination.\nEmpty if eligible is true.\n",
            "items": {
              "type": "string"
            },
            "example": []
          },
          "ignored_requirements": {
            "type": "array",
            "description": "List of eligibility requirements that were ignored/skipped.\nProvided for transparency.\n",
            "items": {
              "type": "string"
            },
            "example": []
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Description of the error",
            "example": "Missing required parameters: street_1, street_2, postal_code, city, state_or_province, country_code, building_type, and device_id"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message",
          "requestId"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code identifying the type of error",
            "example": "not_found"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "Application 123 not found"
          },
          "details": {
            "description": "Additional error details (optional)",
            "example": "Additional context about the error"
          },
          "requestId": {
            "type": "string",
            "description": "Unique request identifier for tracking and debugging",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        }
      },
      "Application": {
        "type": "object",
        "description": "Complete application with nested customer and device information",
        "required": [
          "id",
          "program_id",
          "customer_id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the application",
            "example": 123
          },
          "program_id": {
            "type": "integer",
            "description": "ID of the rebate program this application is for",
            "example": 339
          },
          "customer_id": {
            "type": "integer",
            "description": "ID of the customer who owns this application",
            "example": 609
          },
          "customer_device_id": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of customer device IDs associated with this application",
            "example": [
              45,
              46
            ]
          },
          "rebate_type": {
            "type": "string",
            "nullable": true,
            "description": "Type of rebate being requested",
            "example": "instant"
          },
          "payee_type": {
            "type": "string",
            "enum": [
              "customer",
              "contractor",
              "instant"
            ],
            "nullable": true,
            "description": "Who will receive the rebate payment",
            "example": "customer"
          },
          "submission_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the application was submitted",
            "example": "2025-01-15"
          },
          "approval_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the application was approved",
            "example": "2025-01-20"
          },
          "total_requested_amount": {
            "type": "number",
            "format": "decimal",
            "nullable": true,
            "description": "Total rebate amount being requested",
            "example": 150.0
          },
          "recaptcha_token": {
            "type": "string",
            "nullable": true,
            "description": "reCAPTCHA token for bot prevention"
          },
          "agree_terms": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether customer agreed to terms and conditions",
            "example": true
          },
          "customer_signature": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether customer has signed the application",
            "example": true
          },
          "customer_sig_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date of customer signature",
            "example": "2025-01-15"
          },
          "contractor_signature": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether contractor has signed the application",
            "example": false
          },
          "contractor_sig_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date of contractor signature"
          },
          "project_name": {
            "type": "string",
            "maxLength": 255,
            "nullable": true,
            "description": "Name/description of the project",
            "example": "EV Charger Installation"
          },
          "eligibility_category": {
            "type": "string",
            "enum": [
              "1A",
              "1B",
              "1C",
              "2"
            ],
            "nullable": true,
            "description": "Eligibility category for tiered programs"
          },
          "income_backup_onfile": {
            "type": "boolean",
            "default": false,
            "description": "Whether income verification documentation is on file"
          },
          "neat_sir_verified": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether NEAT/SIR verification is complete"
          },
          "proposed_measures": {
            "type": "object",
            "nullable": true,
[...]
